[2015-04-08 07:30] jakubpawlowicz commented on #516
@sjmcpherso Please see #497 - there's a switch as clean-css has IE9+ compatibility by default.

[2015-04-08 07:30] #516 closed

[2015-04-08 07:31] jakubpawlowicz commented on #512
Sure, :+1:

[2015-04-08 07:35] jakubpawlowicz commented on #510
Please reopen if needed.

[2015-04-08 07:35] #510 closed

[2015-04-08 07:35] jakubpawlowicz commented on #515
Duplicate of #425.

[2015-04-08 07:35] #515 closed

[2015-04-08 07:37] jakubpawlowicz commented on #517
Unfortunately there's no option at the moment. Which email client needs 6-digit hex code btw?

[2015-04-08 09:07] devinus commented on #517
@jakubpawlowicz Some very old email clients.

[2015-04-08 12:12] nurbek-ab opened #521 "Option to disable units optimization"
Please, provide an option to disable unit optimization. There is some cases when it breaks the code:
[code]
This code adds 1px to font-size, tested in latest Google Chrome and Firefox. When gone through clean-css it becomes this:
[code]
Of course now it's not working. I know it's a non-standard behavior but I prefer to use it anyway.

[2015-04-08 12:21] thealjey commented on #397
@jakubpawlowicz this is a much anticipated feature, the lack of which though is not big enough an issue as to make the whole library unusable (if it were a javascript minifier, for example, it would be), but it still would be great to have.
Any idea on when 3.2 will be released?
Also, I got a little confused by the "sourceMapInlineSources" option name (maybe it's just me), it'd be nice if the docu

[2015-04-08 22:38] cachaito commented on #513
Hi again - I've created small repo for testing purpose: `git@gitlab.com:cachaito/clean-css_test.git`. All steps to start are in README.md

[2015-04-09 07:02] XhmikosR commented on #513
That is not an issue with clean-css. Just escape the pipe character.

[code]

[2015-04-09 19:36] cachaito commented on #513
That's unbelievable, It works :-)
@XhmikosR taking advantage of the opportunity I'd like to ask if You know how to use `&` in Windows to run couple scripts in the background?

[2015-04-09 19:41] XhmikosR commented on #513
Not sure what you mean by that... Please provide a full example with the
repo on GitHub if possible.
On Apr 9, 2015 10:36 PM, "cachaito" <notifications@github.com> wrote:

[2015-04-09 19:48] cachaito commented on #513
I meant something like that:
[code]
which on Linux bash works perfectly fine (I heard), but in Windows starts only first command.

[2015-04-09 19:51] XhmikosR commented on #513
Did you try with &&? I use this in many projects and works fine.
On Apr 9, 2015 10:48 PM, "cachaito" <notifications@github.com> wrote:

[2015-04-09 20:06] cachaito commented on #513
I did try && and like You said - works but it only runs script in queue - each one after one. I need & to start process like:
`"watch-sass": "node-sass --watch --source-map true scss/custom.scss -o .tmp/css"` which runs in the background.

[2015-04-09 20:08] XhmikosR commented on #513
I don't think that's possible like that with npm.
On Apr 9, 2015 11:06 PM, "cachaito" <notifications@github.com> wrote:

[2015-04-09 20:12] cachaito commented on #513
Please look at http://substack.net/task_automation_with_npm_run on the "watch" task in "the complete package.json" section.

Anyway I;m sorry for this off topic. Thank you for the clue with `^|` !

[2015-04-09 20:19] XhmikosR commented on #513
Well that requires that the tools used watch for stuff and not exit.
On Apr 9, 2015 11:12 PM, "cachaito" <notifications@github.com> wrote:

[2015-04-10 06:45] jakubpawlowicz commented on #513
Thanks @XhmikosR for helping out! :100:

[2015-04-10 16:51] ngyikp opened #523 "Prefixed linear-gradient may get dropped if declaring multiple backgrounds"
Node version: v0.12.2
cleancss version: 3.1.9

Test script:

[code]

Output:
[code]

[2015-04-11 07:28] jakubpawlowicz commented on #397
@thealjey I plan to do it within next week. You can always use the 3.2.0-pre master if possible as the code for `sourcesContent` won't change.

Re naming I just followed the way Less.js calls this switch, but I'll clarify it in the readme too.

[2015-04-11 07:33] jakubpawlowicz commented on #517
I'll think of a way.

[2015-04-11 07:34] jakubpawlowicz commented on #521
We should rather avoid removing units inside calc altogether.

[2015-04-11 18:48] MarkHerhold commented on #372
Hey, @jakubpawlowicz , I am encountering this issue with my project as well. I can access the imported URLs just fine in my browser, but they time with clean-css. Using `--skip-import` is not an option for me.

I do have a hunch as to what is going on though. My imports (3 Google font imports, similar to what @nicolasbadia had) reside in a large file (~1600 lines). I think that the responses are t

[2015-04-11 20:00] jakubpawlowicz opened #524 "Investigate timeouts in remote imports"
See https://github.com/jakubpawlowicz/clean-css/issues/372#issuecomment-91899163

[2015-04-11 20:00] jakubpawlowicz commented on #372
@MarkHerhold That's an interesting point! I guess bumping timeout up could help here, but we should defer further processing into next tick in the event loop. Let me take a look at it in #524.

[2015-04-12 13:40] jakubpawlowicz opened #525 "Restore `inherit`-based minification"
When there are some inherited values we should do such optimizations as:

`a{margin-top:10px;margin-left:5px;margin-bottom:inherit;margin-right:inherit}` ->
`a{margin:inherit;margin-top:10px;margin-left:5px}`

`a{margin-top:10px;margin-left:5px;margin-bottom:3px;margin-right:inherit}` ->
`a{margin:10px 5px 3px;margin-right:inherit}`

[2015-04-12 17:02] #399 closed

[2015-04-12 17:02] #500 closed

[2015-04-12 17:02] jakubpawlowicz commented on #429
Fixed now.

[2015-04-12 17:02] #429 closed

[2015-04-12 17:05] jakubpawlowicz commented on #523
Good catch, it's wrong indeed! :+1:

[2015-04-12 17:06] #513 closed

[2015-04-12 17:21] #468 closed

[2015-04-12 18:34] #446 closed

[2015-04-13 01:14] SmashCapital opened #526 "@media with a background gradient, and background-color failing"
I'm using clean-css 3.1.9 with Node.js 0.12.2 on Windows 7 64bit.

The following css produces an unexpected output:

    @media all and (min-width: 500px) {
    	.test {
    		background: linear-gradient(#555, #FFF);
    		background-color:  #555;
    	}
    }

produces:

    @media all and (min-width:500px){.test{background:0 0}}

Radial and repeating gradients also fail.
The .test class works as

[2015-04-13 07:03] jakubpawlowicz opened #527 "Improve longhand into multiple shorthand merging"
E.g (shorter value).

`p{background:-webkit-linear-gradient();background:linear-gradient();background-repeat:repeat-x}` ->
`p{background:-webkit-linear-gradient()repeat-x;background:linear-gradient()repeat-x}`

or (default value)

`p{background:-webkit-linear-gradient();background:linear-gradient();background-repeat:repeat}` ->
`p{background:-webkit-linear-gradient();background:linear-gradient()}`

[2015-04-13 07:20] #490 closed

[2015-04-13 07:20] #507 closed

[2015-04-13 07:22] jakubpawlowicz commented on #526
@SmashCapital - I guess the expected output the same as input, since `background-color` is used as a fallback, right?

[2015-04-13 07:23] jakubpawlowicz commented on #523
Fixed with #490 in master now.

[2015-04-13 07:23] #523 closed

[2015-04-13 07:26] jakubpawlowicz commented on #509
Fixed in master with #490.

[2015-04-13 07:26] #509 closed

[2015-04-13 07:29] jakubpawlowicz commented on #364
Moving longhands into multiple shorthands is disabled now - https://github.com/jakubpawlowicz/clean-css/commit/2d050b0b9dd94e2210c8c8f649121d228af59c1f

Further work will commence in #527 so we'll get it right (which is much easier with new internals).

[2015-04-13 07:29] #364 closed

[2015-04-13 10:59] wizraopeize opened #528 "ie8 compatibility bug"
[code]
After I using `cleancss -c 'ie8' test.css `, this is the result.
[code]

[2015-04-13 15:06] Skyrpex commented on #335
Thanks!

[2015-04-13 20:32] #508 closed

[2015-04-13 21:21] SmashCapital commented on #526
I would like it to at least not zero-out the gradients but keeping the background-color as a fallback would be great.  Currently the background-color is always removed, even outside of media queries, like this css:

    .test-outside-media-query {
    	background:  repeating-radial-gradient(red, yellow);
    	background-color:  #0F0;
    }

becomes:

    .test-outside-media-query{background:repeat

[2015-04-13 21:44] jakubpawlowicz commented on #526
Got it. Fix is coming!

[2015-04-13 21:46] #487 closed

[2015-04-14 07:30] #526 closed

[2015-04-14 07:41] jakubpawlowicz commented on #528
It's a bug indeed.

[2015-04-14 20:40] #521 closed

[2015-04-14 22:11] Zephyrias commented on #329
font: normal small-caps 400 medium Georgia, sans-serif; becomes font: 400 small-caps 400 medium Georgia, sans-serif; still :(

[2015-04-15 06:44] jakubpawlowicz opened #529 "Wrong font minification"
`a{font: normal small-caps 400 medium Georgia, sans-serif;}` ->
`a{font: 400 small-caps 400 medium Georgia, sans-serif;}`

[2015-04-15 06:44] jakubpawlowicz commented on #529
See https://github.com/jakubpawlowicz/clean-css/issues/329#issuecomment-93087758

[2015-04-15 06:45] jakubpawlowicz commented on #329
I've opened #529 as it's a slightly different case.

[2015-04-15 07:33] #528 closed

[2015-04-15 07:33] jakubpawlowicz commented on #528
Will be released as part of 3.2 in the coming days.

[2015-04-15 15:39] wavded commented on #372
Encountering similar issue:

[code]

[2015-04-15 21:53] jared-stilwell opened #530 "Background shorthand syntax broken in ie8"
There are plenty of examples where something like this

[code]
generates the following output...
[code]

However, not placing a space between the `url(...)` and the following values is considered a syntax error in IE8 and doesn't produce the background image.

There are enough cases similar to this represented in the automated tests that I'm curious if this is an explicit browser support decision

[2015-04-15 21:57] #371 closed

[2015-04-15 22:00] jakubpawlowicz commented on #530
clean-css is IE9+ compatible by default, but there's IE<9 switch - please see #516 and #497 for more details!

[2015-04-15 22:00] #530 closed

[2015-04-15 22:06] jared-stilwell commented on #530
Cool. Thanks! Sorry for the dupe.

[2015-04-15 22:10] jakubpawlowicz commented on #371
Will be a part of clean-css 3.2 due in coming days. Sorry it took a bit longer but it was hard to tweak without rewrite of the internals which is now complete.

[2015-04-15 22:10] jakubpawlowicz commented on #530
No worries :) :+1:

[2015-04-15 22:21] jakubpawlowicz commented on #372
@wavded no idea why but both curl and node.js API get ~5s timeouts when hitting maxcdn URL. I need to investigate it further...

As a workaround you can use `--timeout 10` switch for a 10s timeout.

[2015-04-15 22:44] #529 closed

[2015-04-16 01:08] wavded commented on #372
I had funky internet connectivity today so that may have played apart, I'll try the timeout option, thx.

[2015-04-16 02:51] MarkHerhold commented on #372
@jakubpawlowicz When I tried with curl and company I didn't ever get a timeout or even a response close to a second. If you want to, post your curl command and I'll report back with results.

One additional thought I had was that the CDNs could be throttling based on the `User-Agent` header (e.g. letting browsers download faster). Node and curl wouldn't have this header. I really doubt that the CD

[2015-04-16 06:57] jakubpawlowicz commented on #372
@MarkHerhold I tried with browser User-Agent too and it didn't help, however this morning it's all super speedy. My curl:

[code]

However, interestingly, node.js based version still seems slow.

[2015-04-16 07:22] AoDev commented on #371
@jakubpawlowicz Lol, please don't be sorry. Thank you very much for your work :)

[2015-04-16 08:12] jakubpawlowicz commented on #371
Thanks! :)

[2015-04-16 14:18] MarkHerhold commented on #372
I ran `time curl ...`
real	0m0.224s
user	0m0.010s
sys	0m0.005s

[2015-04-16 22:03] jakubpawlowicz commented on #372
Ok, I linked it to a broken DNS config, which was delaying domain resolution thus responses. Taking a look at 524 now.

[2015-04-17 07:18] #524 closed

[2015-04-17 07:19] jakubpawlowicz commented on #524
@MarkHerhold please see cc8a285e2889e3736a8eeef7ab606088970ba1d3 for details - let's see if it helps, but it may also be anything related to network configuration - see https://github.com/jakubpawlowicz/clean-css/issues/372#issuecomment-93849824

[2015-04-17 12:41] MarkHerhold commented on #524
@jakubpawlowicz Great, thanks!
I'll give it a shot tonight!

[2015-04-17 14:02] StuartMorris0 opened #531 "Minify CSS gulp plugin"
Hello,

I am using gulp-minify-css and understand this is just a wrapper around clean-css.

We are having issues specifically with IE8 and seeing no space after a background url(...*)no-repeat, whilst IE8 expects one.

I notice that you have compatibility settings for this specifically:
https://github.com/jakubpawlowicz/clean-css/blob/master/README.md#how-to-set-compatibility-mode

I thought this

[2015-04-17 14:28] jakubpawlowicz commented on #531
There you go: https://github.com/jonathanepollack/gulp-minify-css#minifycssoptions

[code]

[2015-04-17 14:31] StuartMorris0 commented on #531
Thanks exactly the page I was after, felt like I looked everywhere apart from that one!

[2015-04-17 14:31] #531 closed

[2015-04-17 14:32] jakubpawlowicz commented on #531
Sure, no problem!

[2015-04-18 00:13] #504 closed

[2015-04-18 00:14] jakubpawlowicz commented on #504
See `urlQuotes` option - https://github.com/jakubpawlowicz/clean-css#how-to-set-compatibility-mode

[2015-04-18 00:15] jakubpawlowicz commented on #263
Please reopen if needed.

[2015-04-18 00:15] #263 closed

[2015-04-18 00:53] pygy opened #532 ""p{foo:bar;foo:baz}" and "p{foo:bar}p{foo:baz}" are minified differently"
This may or may not be intentional, but I was surprised by the following:

[code]

If I pass ~~`{advanced:true}`~~ `{advanced:false}` to the constructor, the second example produces `"p{foo:bar}p{foo:baz}"` instead.

I'm using `clean-css` to normalize style sheets to test a [JS to CSS compiler](https://github.com/pygy/j2c/) (probably an anathema for designers, I know), but I can't get it to behave

[2015-04-18 08:21] jakubpawlowicz commented on #532
This is in fact intentional, as take the following two declarations:

[code]

[code]

In the first one, you declare two display properties adjacent to each other so it's highly likely you want to do a fallback, when one is not understood (more on this in a second) then the other one is picked. It's a common pattern in CSS.

In the 2nd one these are in two different selectors so it's less likely th

[2015-04-18 11:42] pygy commented on #532
That behavior makes sense when processing hand-crafted CSS, which is not my use case.

`j2c` is dumb, and things that are close together in the JS source may end up in consecutive but separate declarations for the same selector.

I ended up switching to `crass` which produces the same output for both inputs.

[2015-04-18 12:04] jakubpawlowicz commented on #532
You can get the same behavior in clean-css by using `advanced: false` flag.

[2015-04-18 12:17] pygy commented on #532
My bad, I meant `advanced:false` in the first post, and it doesn't suit my use case because it still outputs two rule sets rather than one with both properties. I could have changed the reference output in my test to match it, but in the long run, I wanted a CSS normalizer, which produces identical output for semantically equivalent, but syntactically distinct input, and `clean-css` doesn't do tha

[2015-04-18 17:55] jakubpawlowicz commented on #532
Ok, makes it makes sense now! I'll close the issue now.

[2015-04-18 17:55] #532 closed

[2015-04-19 13:09] jakubpawlowicz opened #533 "Rework multi-property restructuring"
Currently single-property and multi-property restructuring is done at the same time which should rather be done in two steps to make it easier to grasp.

[2015-04-19 13:09] jakubpawlowicz commented on #533
See https://github.com/jakubpawlowicz/clean-css/blob/master/test/fixtures/bootstrap.css#L5029

[2015-04-19 15:58] #436 closed

[2015-04-19 18:30] hostep opened #534 "Regression in 3.2.0: when source maps are enabled, the minified content changes"
I noticed this happening with font-family, I didn't check if other properties are affected

Input:
[code]

When you clean this without source maps enabled, you get this:
`@font-face{font-family:si}.soc-icon{font-family:si!important}`

When you clean this with source maps enabled, you get this:
`@font-face{font-family:'si'!important}.soc-icon{font-family:'si'!important}/*# sourceMappingURL=blahblah

[2015-04-19 21:29] jakubpawlowicz commented on #534
@hostep, thanks for giving it a try so quickly. It's interesting not a single test caught it - I'll find out why tomorrow morning.

[2015-04-19 23:28] talwoolf opened #535 "Adds support for multi-file compilation"
is there a way to loop a directory of .css files and minify them without concatenating them into one file using CLI.

I have tried using ```cat */dirname | cleancss``` but this does not seem to work.

Thanks

[2015-04-20 06:56] #534 closed

[2015-04-20 06:58] jakubpawlowicz commented on #534
@hostep the issue with `!important` is fixed in 3.2.1.

Getting rid of unwanted quotes is a bit more complicated as we do it at too late stage thus a refactoring is needed to support it properly - see #407.

[2015-04-20 07:07] jakubpawlowicz commented on #535
Well, it should work that way - e.g this command concatenates and minifies relevant files from our `test/fixtures` folder:

`cat test/fixtures/issue-2*.css | cleancss`

[code]

[2015-04-20 07:39] hostep commented on #534
Ok thanks for the quick fix, I'll try it out later today.

[2015-04-20 08:20] talwoolf commented on #535
Sorry maybe I explained it wrong. I dont want my files to be concatenated. I want to minify them individually and have my directory remain intact. so.

[code]
would output to -
[code]

is this possible?

Thanks

[2015-04-20 08:39] jakubpawlowicz commented on #535
With a little bit of shell magic:

[code]

There's no built in way as cleancss follows the UNIX rule of "do one thing and do it well".

[2015-04-20 08:42] jakubpawlowicz commented on #535
As a side note I'd rather not minify files in place (unless you have the originals somewhere else), but that's not the point here.

[2015-04-20 08:50] talwoolf commented on #535
Thanks, Yeah I already wrote a little shell script, just wondered if there was an inbuild feature or approach i was missing. I have my sass files in my dev directory so all good in that respect.

Thanks so much for you fast response.

[2015-04-20 08:50] #535 closed

[2015-04-20 09:15] jakubpawlowicz commented on #535
:+1: Cheers!

[2015-04-20 11:14] mikkotikkanen opened #536 "Option to remove imported files"
If you are running master css file which is just split with imports, it would be nice to have r.js styled removing of the imported files

Ie. if

**master.css**

[code]

**buttons.css**

[code]

Would then become...

**master.css**

[code]

...with `buttons.css` removed.

If file is not imported anywhere, it would be just minified as usual.

[2015-04-20 12:04] LemyDanger opened #537 "Strange behaviour since 3.2.0"
After an gulp-css update to clean-css@3.2.0 we had the following optimization

.sprite {
  background: transparent url(../../img/webde/sprite.png) 0 0 no-repeat;
}

---> .pipe(minifyCss({compatibility:'ie8', advanced : false}))

is transformed to

.sprite{background:0 0 url(../../img/webde/sprite.png) 0 0 no-repeat}

[2015-04-20 12:15] jakubpawlowicz commented on #537
I can see it too. Fix is coming.

[2015-04-20 12:16] jakubpawlowicz commented on #536
@mikkotikkanen can you point me to relevant r.js functionality? I'd say it's rather a build system functionality rather than a minifier role to remove files.

[2015-04-20 15:40] gtbuchanan commented on #534
Thanks for such a quick fix! This caused one of our icon fonts to stop showing up in IE9 (guess it didn't like the important on a font-face src). Took me forever to figure out this was the issue though, lol.

[2015-04-20 15:57] jakubpawlowicz commented on #534
Thank you all for testing! With each release clean-css gets better thanks to 2.5k+ tests we have now.

[2015-04-20 23:27] jdaudier opened #538 "Question: minifying CSS with unicode"
Hi there:

Any idea why minifying CSS with unicode like the below takes a long time... like 30 seconds?

[code]

[2015-04-21 04:19] #538 closed

[2015-04-21 04:22] jdaudier opened #539 "Latest version is taking a long time for me to minifyCSS"
Reduced test case repo:
https://www.dropbox.com/s/ueedb2t51d11oui/new.zip?dl=0

It takes 30s to minifyCSS.

But if you change this in package.json, you'll see the difference in time
`"gulp-minify-css": "itsikm/gulp-minify-css"`

[2015-04-21 04:35] jdaudier commented on #539
I see the prob.  Duplication of stuff in the CSS through @imports I think.

[2015-04-21 04:35] #539 closed

[2015-04-21 06:07] jakubpawlowicz commented on #539
It can be costly to remove duplications, and the more of them the slower it will be. Using `restructuring: false` flag can save lots of time too.

[2015-04-21 06:28] jdaudier commented on #539
what does that flag do?

[2015-04-21 06:31] jakubpawlowicz commented on #539
Around 40% of time clean-css spends restructuring the content, e.g. turning this:

``` a { color: red } div { color: red; display: block } ```

into that

``` a, div { color: red } div { display: block } ```

It's a rather complex process but if you don't need it (let's say in non-production env) then setting restructuring to false will disable this process.

[2015-04-21 06:39] #537 closed

[2015-04-21 06:39] jakubpawlowicz commented on #537
Fixed in 3.2.2. Thanks for reporting!

[2015-04-21 08:06] LemyDanger commented on #537
Thank you for writiting, sharing and fixing!

[2015-04-21 18:10] hostep opened #540 "Duplicate floats in same selector aren't always removed."
Using cleancss 3.2.2

This is correct:
[code]

This is not what I expected:
[code]
It should output:
[code]

This is also not what I expected:
[code]
It should output:
[code]

The last case worked in 3.1.9 as expected (I didn't test it explicitly, but I can see it from the diffs of a very large file)

[2015-04-21 18:56] hostep opened #541 "Problem with outline-width getting dropped sometimes"
This is ok:
[code]

This is not ok (the 5px is getting dropped):
[code]

Using clean-css 3.2.2, it did work before in 3.1.9.

[2015-04-21 19:09] joshmedeski opened #542 "IE rgba bug"
I'm trying to keep the "0." in an rgba value to fix an IE bug.

[code]

I need to keep the "0" before before the decimal point

[code]

How do I do this?

p.s. I'm using gulp-minify-css

[2015-04-21 19:37] mikkotikkanen commented on #536
https://github.com/jrburke/r.js/blob/870ef5140c2fc89867db3f47541bbcf61f4cd38d/build/example.build.js#L349

Yeah, not really sure who's responsibility it is. I guess when running directly from the CLI, it should be the `clean-css`, but when using as part of the build I guess it should be fe. gulp, though it would be only `clean-css` which would know which files actually have been combined, not the

[2015-04-22 06:08] jakubpawlowicz commented on #540
It's still correct though. Let me see if we can restore the old functionality, otherwise it will have to wait for #290.

[2015-04-22 06:12] jakubpawlowicz commented on #541
That's a bug indeed. Stay tuned for a fix!

[2015-04-22 06:14] jakubpawlowicz commented on #542
@joshmedeski there's no way I'm afraid although we should have a compatibility switch for it.

Could you

* let me know which version of IE it affects - I assume it's at least IE9 as rgba is not supported in earler versions;
* point me to a testcase (codepen / jsfiddle).

[2015-04-22 06:19] jakubpawlowicz commented on #536
I'm uneasy about this option at this point so let me think about it first.

Re gulp it's not a problem as clean-css can (and maybe should?) expose a list of inlined files via API.

[2015-04-22 13:04] mikkotikkanen commented on #536
Yeah, at least the gulp option should be there. :)

And regardless, it should be bind separate options trigger (`removeCombined` or whatnot) anyhow.

[2015-04-22 13:53] joshmedeski commented on #542
I've started this bug fix journey here: https://github.com/zurb/foundation/issues/6443

At this point I've turned off the magnification so you won't see the bug live, but the RGBA values didn't work on IE9, 10 & 11 ;(

[2015-04-22 18:13] olegstepura opened #543 "Font-face with comments reduced bad"
Hi!

I'm using `clean-css` with `gulp-minify-css`

if I have comments like this in @font-face rule:
[code]
the generated css is broken like this (I reformatted it back to human-readable):

[code]

Notice the `,;` in the end of line 4. `;` Should not be there, it breaks font-face and such font does not work. Removing comments on line 4 helps, but same happens on next line (line 5). Removing comment

[2015-04-22 20:43] jakubpawlowicz commented on #543
Please use gulp bound to 3.1.x for now. Fix is coming!

[2015-04-22 20:51] jakubpawlowicz commented on #543
Oh, well, I can't reproduce it locally with the latest 3.2 master:

[code]

[2015-04-22 20:52] jakubpawlowicz commented on #543
Does your code go through any preprocessor?

[2015-04-22 21:21] #541 closed

[2015-04-22 21:21] jakubpawlowicz commented on #541
Fixed in 3.2.3!

[2015-04-22 23:04] olegstepura commented on #543
Yes an no. It's sass which is not parsing css imports, so these imports are left for clean-css to be injected. One of those imports contains this `font-face` rule.

I'm sorry, I forgot to mention this rule is from `imported` file. Please try to use via import with `{processImport: true}`. Actually I use this:
[code]

Thanks!

[2015-04-23 02:18] rgbohner opened #544 "Possible -1 array index reference in lib/properties/optimizer.js"
https://github.com/jakubpawlowicz/clean-css/blob/master/lib/properties/optimizer.js starting at line : 97

variable left can potentially reference properties[-1] causing "TypeError: Cannot read property 'all' of undefined" at line 101

[code]

possibly change to:
[code]

[2015-04-23 04:06] jakubpawlowicz commented on #544
Do you have an example where it happens?

[2015-04-23 04:14] jakubpawlowicz commented on #543
No worries at all :) Let me give it a try with an imported file.

[2015-04-23 09:41] olegstepura commented on #543
Used version is:
[code]

[2015-04-23 09:55] olegstepura commented on #543
hmm...

[code]

Looks like same console version works ok.

[2015-04-23 10:05] hostep commented on #541
Thanks once again! :)

[2015-04-23 11:00] olegstepura commented on #543
Using exact same files with gulp still cause an broken font-face declaration
[code]

...`format("embedded-opentype")` `,;`

[2015-04-23 11:03] olegstepura commented on #543
Ouch, if I use it without import (in main file) the declaration is not even broken, but also cut
[code]

[2015-04-23 12:08] jakubpawlowicz commented on #543
Hi Oleg,

That's truly puzzling. Since I checked on 3.2.3 I need to do so again on 3.1.9. I'll do later today when I get my hands on a proper device.

Jakub

[2015-04-23 12:46] aaarichter opened #545 "background rule minification breaks IE8"
I noticed that with grunt-contrib-cssmin bumping `clean-css to 3.0.1` the background rule minification breaks images in IE8.

before clean-css 3.0.1
![bildschirmfoto 2015-04-23 um 14 39 25](https://cloud.githubusercontent.com/assets/2707029/7297139/67943ab0-e9c6-11e4-9d6c-f8a8d8e963f1.png)
notice the space between url and `9px` in the background position

with 3.0.1
![bildschirmfoto 2015-04-23 um

[2015-04-23 12:49] jakubpawlowicz commented on #545
Please see #530 for compatibility option. If you target IE<9 you should be using `compatibility: 'ie8'` nonetheless.

[2015-04-23 12:49] #545 closed

[2015-04-23 12:59] aaarichter commented on #545
thanks

[2015-04-23 15:12] soluml opened #546 "spaceAfterClosingBrace causing issues in IE10 when using calc() in padding."
Ran into an issue with IE10 and the spaceAfterClosingBrace prop.  I've got a declaration like this:
`padding: 0 $half-gutter calc(100vh - .75rem) $half-gutter!important;`

The output after CSS Min is this:
`.nano{padding:0 .625rem calc(100vh - .75rem).625rem!important}`

This seems to work fine in IE11+ and other browsers I've tested, but IE 10 disregards the property because there's no space betw

[2015-04-23 17:51] rgbohner commented on #544
Yep its a bit esoteric but I did run into this on my latest build.

Here is the information:
The css that will cause this error:
[code]

Stack Trace :
[code]

Data on error
[code]

[2015-04-23 20:43] jakubpawlowicz commented on #544
@rgbohner - d'oh - totally! Fix is already in already in 3.2 branch which I'll release with one more tweak tomorrow morning.

[2015-04-23 20:49] jakubpawlowicz commented on #546
That's interesting, I haven't realized up until now calc has such issues in IE<11. Would you be able to  check that the same when there's a number after closing brace, e.g `calc(100vh - .75rem)0.625rem`?

Currently the default compatibility level is IE>9 so for the time being we should rather not remove the space after `calc()`.

Once we have more compat switches in place we'll definitely bump the

[2015-04-23 21:08] soluml commented on #546
Just tested in dev tools, `0 0.625rem calc(100vh - .75rem)0.625rem`, doesn't work either.

[2015-04-23 21:09] jakubpawlowicz commented on #546
:+1: thanks! Fix is coming.

[2015-04-23 21:10] soluml commented on #546
Awesome, appreciate it!

[2015-04-23 23:36] rgbohner commented on #544
cools, thanks for the update. love the project

[2015-04-24 05:16] jakubpawlowicz commented on #542
Ok, we'll have a new compatibility option. Stay tuned.

[2015-04-24 07:45] jakubpawlowicz opened #547 "Add IE<11 switch for `calc(`"
See #546

[2015-04-24 09:25] #544 closed

[2015-04-24 09:25] #546 closed

[2015-04-24 09:26] jakubpawlowicz commented on #546
Fixed in 3.2.4.

[2015-04-24 09:26] jakubpawlowicz commented on #544
Thanks, it means a lot!

The bug is fixed in 3.2.4.

[2015-04-24 10:18] rnanwani commented on #508
I am not sure if this is intended, but I was using gulp-minify-css plugin which depends on clean-css.
After the upgrade to 3.2.4 for clean css, I started facing problems with the media queries. Instead of duplicate media queries being merged, or one of them being removed, both the media queries are getting removed.

The two media queries look like

@media(max-width: 1295px) {
    .extended-content

[2015-04-24 11:45] medialwerk opened #548 "Font shorthand property line-height bug"
I guess i have found a bug at the font shorthand property. At the following sample the line-height compiles to the font-weight:
[code]
compiles to:
[code]
If i would add a font-weight it is working:
[code]
compiles to:
[code]
Thanks!

[2015-04-24 12:43] jakubpawlowicz commented on #508
Can you make sure there's no 3rd same media query in your source file as clean-css removes duplicates now.

Ideally please share your CSS (my email is in package.json).

[2015-04-24 12:48] jakubpawlowicz commented on #548
Great catch of another edge case!

[2015-04-24 13:01] jakubpawlowicz commented on #548
Fix is on 3.2 branch. I'll try to fix one more ticket and it's out.

[2015-04-24 13:32] jakubpawlowicz commented on #543
@olegstepura would you be able to share the full CSS file with me? I can't reproduce it :/

[2015-04-24 15:10] olegstepura commented on #543
You can just use the file contents from https://github.com/jakubpawlowicz/clean-css/issues/543#issuecomment-95518500

I've run `npm update` from inside `gulp-minify-css`'s dir
Npm wrote
[code]
issue is till there

how can I log currently used version from inside the task? Does `CleanCSS` class have any property which indicates the current version?

[2015-04-24 16:49] jakubpawlowicz commented on #543
The version no is unfortunately not exposed but it should be the one you upgraded to.

Re file I have more idea so bear with me.

[2015-04-24 20:18] jakubpawlowicz commented on #543
@olegstepura I can see it now when the comments are different:

[code]

[2015-04-24 21:09] olegstepura commented on #543
Mystics is that different usage makes bug appear with differemt comments ;)
Did you try using a gulp plugin?

[2015-04-24 22:59] shinnn opened #549 "--s1 fails when using --source-map"
## Setup

### Fixtures

in-with-map.css:

[code]

in-with-map.css.map:

[code]

### Versions

[code]

## Test command

### 1. without --source-map (OK)

[code]

out.css:

[code]

(works as expected)

### 2. with --source-map (not OK)

[code]

out.css:

[code]

(still contains too many comments despite `--s1` flag)

[2015-04-25 01:21] AlexanderOMara commented on #549
@shinnn Thanks for opening this issue, and reproducing it in just clean-css. I think I've narrowed down what's causing the issue.

In `lib/stringifier/simple.js`, the restore function [is called once](https://github.com/jakubpawlowicz/clean-css/blob/8eb2ac659de59690552c1436e28400cd3a561a27/lib/text/comments-processor.js#L97-L125). However, in `lib/stringifier/source-maps.js` the restore function [

[2015-04-25 08:43] #543 closed

[2015-04-25 08:43] #548 closed

[2015-04-25 08:43] #549 closed

[2015-04-25 08:44] jakubpawlowicz commented on #549
Thanks @shinnn for outstanding bug report and @AlexanderOMara for pointing me into the right spot. It's fixed in 3.2.5 now.

[2015-04-25 08:48] shinnn commented on #549
@jakubpawlowicz You're welcome. Thanks for the new release!

[2015-04-25 08:50] jakubpawlowicz commented on #548
It's out in 3.2.5.

[2015-04-25 08:52] jakubpawlowicz commented on #549
Cheers!

[2015-04-25 12:53] joshmedeski commented on #542
:+1: thanks @jakubpawlowicz

[2015-04-25 12:54] hostep opened #550 "Exception thrown in clean-css 3.2.5"
I get this after upgrading from 3.1.9 to 3.2.5

[code]

If you need more info, let me know, I haven't looked at it in detail yet.

[2015-04-25 13:18] hostep commented on #550
Small update, the exception isn't thrown in 3.2.4, so it has to be a change in 3.2.5

And this is the command I try to run:
`cleancss --output style.css --s0 --source-map style.css`

[2015-04-25 13:43] hostep commented on #550
Another update: I tracked it down to the bootstrap library, if you try to run clean-css on bootstrap 3.3.4, it throws this error, so now you have a test case :)

`cleancss --output ~/Downloads/bootstrap-3.3.4-dist/css/bootstrap-clean.css --s0 --source-map ~/Downloads/bootstrap-3.3.4-dist/css/bootstrap.css`

[2015-04-25 14:46] jakubpawlowicz commented on #550
Thanks, I'll take a look shortly!

[2015-04-25 16:08] AlexanderOMara commented on #549
Awesome! Thanks for the quick fix!

[2015-04-25 18:31] jakubpawlowicz commented on #550
Thanks for the test case, I can see it failing now. It actually since 3.2.0 there not 3.2.4, but that does not matter. Fix is coming!

[2015-04-26 09:34] jakubpawlowicz commented on #542
@joshmedeski I've retested `rgba` and it works fine for me on IE10 & IE11. Not sure about IE9 as I don't have access to it now.

However looking at your comment https://github.com/zurb/foundation/issues/6443#issuecomment-91269226 I noticed there's no space in `rgba(255,255,255,.4)transparent transparent`, which apparently does not work in IE. We have a switch called `spaceAfterClosingBrace` - http

[2015-04-27 06:47] jakubpawlowicz commented on #550
The fix is pretty simple, but when searching for it I found out that bootstrap mapping is pretty much broken because of `sourcesContent` data. I need to figure out why first.

[2015-04-27 07:03] hostep commented on #550
Ok, no problem, take your time, we will stay at 3.1.9 for the time being :)

[2015-04-27 14:54] joshmedeski commented on #542
@jakubpawlowicz I couldn't pinpoint the exact problem but this did the trick! Thanks for helping squish this bug.

Let me know if/when you fix the IE settings ;)

[2015-04-27 17:50] hostep opened #551 "Wrong color after cleaning, in a very specific case"
We encountered a strange problem today. I could reduce it to the following input (I came from a > 600 KB css file, so it took me a while to reduce it, but I can't reduce it any further, or the bug disappears).

Input:
[code]

Cleaning it with clean-css, using --s0 and no sourcemaps, it gives this output (beautified for readability):

[code]

The problem here is with the `color` of the `button:hove

[2015-04-27 19:04] yairEO opened #552 "Create a test page / area"
I do not want to waste time installing this unless I could make sure it works good.
I am using CSSSHRINK and it's awesome, mainly because it has a playground test area on their webpage to input code and see the result before you even waste one second of precious life to install and configure anything: http://cssshrink.com/

[2015-04-27 19:53] jakubpawlowicz commented on #552
@yairEO well, clean-css is one of the best optimizers for node.js - http://goalsmashers.github.io/css-minification-benchmark/

We don't have a site to test yet (see #330) but over 2500 tests and 1.3M downloads every month verifying it does its job well.

[2015-04-27 19:56] jakubpawlowicz commented on #551
That's interesting as `button:hover` shouldn't get that far up. So far you can skip it using `--skip-restructuring` switch.

[2015-04-27 20:00] yairEO commented on #552
for example, I would like to know if clean-css is doing a specific minification process that will save me work so I won't have to do it myself. I'm talking about merging different selectors with similar properties, and have written about it here - https://github.com/stoyan/cssshrink/issues/27

if in fact it does that, than I don't need to manually use `extend` in my SCSS and make things much more

[2015-04-27 20:21] hostep commented on #551
Ok, we will use the `--skip-restructuring` flag for now. Thanks for the feedback!

[2015-04-27 20:22] jakubpawlowicz commented on #552
clean-css does it quite well - see all the tests - https://github.com/jakubpawlowicz/clean-css/blob/master/test/selectors/optimizer-test.js#L103

[2015-04-27 21:45] yairEO commented on #552
Cool. I've copied the data and created a more readable page, since there is no page for "live" user input, at least users could see input/output of different scenarios:

http://codepen.io/vsync/pen/LVEdWm?editors=011

[2015-04-28 01:03] xzyfer opened #553 "Broken out for SVG with PNG fallback (Multiple background-image)"
A variant of this issue was originally reported in https://github.com/jakubpawlowicz/clean-css/issues/371.

IN
[code]
OUT
[code]

Switching the position of `none` (as reported in https://github.com/jakubpawlowicz/clean-css/issues/371) fixes the problem.

IN
[code]
OUT
[code]

***
I'm using v3.2.5 the following options
[code]

[2015-04-28 01:15] bevacqua commented on #551
I have the same issue, some CSS gets hoisted above where it should, breaking my layouting.

[2015-04-28 03:21] ScottSmith95 opened #554 "Using Clean CSS as a PostCSS plugin"
Is it possible to use clean-css as a PostCSS plugin? It seems that there isn't any documentation about this.

[2015-04-28 06:11] jakubpawlowicz commented on #554
There's nothing I'm aware of, however clean-css is a standalone tool so I don't expect there's anything.

[2015-04-28 06:15] jakubpawlowicz commented on #553
Good catch :+1:

[2015-04-28 06:16] jakubpawlowicz commented on #552
Nice, thanks @yairEO!

[2015-04-28 06:38] qiangyee opened #555 "background lost white space"
I have css like this
`.wrap_v_area{ background: #01101e url(../images/xxx.png) center no-repeat; height: 1225px;}`
after clean-css, which changes to
`.wrap_v_area{background:url(../images/xxx.png)center no-repeat #01101e;height:1225px}`
It's lost white space between url and center. This lead to IE8 cannot parse the background style.
clean-css version:^3.2.5

[2015-04-28 06:40] jakubpawlowicz commented on #555
@qiangyee please see #497.

[2015-04-28 06:40] #555 closed

[2015-04-28 07:35] XhmikosR opened #556 "IE hack issue"
Using clean-css v3.2.5, node.js 0.12.2 on Windows 7 64-bit:

[code]

source:

[code]

output:

[code]

`\9` becomes `\0`.

[2015-04-28 07:41] XhmikosR commented on #556
/CC @cvrebert since it's apparently the reason for https://github.com/twbs/bootstrap/commit/d0926f2debde5e920ca369ad56a07e7c8bacdd89

[2015-04-28 07:44] shinnn commented on #554
@ScottSmith95 Maybe [cssnano](https://github.com/ben-eb/cssnano) meets your requirements. It is a PostCSS-based CSS minifier that can be [used as a PostCSS plugin](https://github.com/ben-eb/cssnano#postcss-nanooptions).

[2015-04-28 07:55] cvrebert commented on #556
Interestingly, if you put a space before the backslash, clean-css leaves the 9 intact.

[2015-04-28 07:56] XhmikosR commented on #556
@cvrebert: what I don't get is why we see the difference between the bot and my local tree. I mean, we do use the same clean-css version with the same settings and all.

[2015-04-28 07:57] XhmikosR commented on #556
@cvrebert: I guess we could add the space until this is sorted then?

[2015-04-28 08:24] jakubpawlowicz commented on #556
It's the styling any different when you use \0 instead of \9?

[2015-04-28 08:25] jakubpawlowicz commented on #554
@shinnn :+1: I'll close it for now.

[2015-04-28 08:25] #554 closed

[2015-04-28 08:31] XhmikosR commented on #556
@jakubpawlowicz: IIRC `\0` is not a valid IE hack at all. What I don't know is if the space is required or not and if it changes the output and how.

[2015-04-28 08:31] XhmikosR commented on #556
http://browserhacks.com/

[2015-04-28 08:33] cvrebert commented on #556
https://css-tricks.com/snippets/css/browser-specific-hacks/ and http://browserhacks.com/#hack-ab1bcc7b3a6544c99260f7608f8e845e both use 9, not 0.

[2015-04-28 08:33] XhmikosR commented on #556
Yeah, `\0` is for media queries hack as far as I can tell.

[2015-04-28 08:37] jakubpawlowicz commented on #556
Oh, wow :facepalm:

[2015-04-28 08:48] jakubpawlowicz opened #557 "Figure out what's wrong with `contentSources` tracking."
See #550.

[2015-04-28 08:53] #550 closed

[2015-04-28 08:55] jakubpawlowicz commented on #556
Fixed in 3.2.6.

[2015-04-28 08:56] jakubpawlowicz commented on #550
Fixed in 3.2.6 although I opened #557 to continue investigating the wrong line tracking. Stay tuned.

[2015-04-28 09:07] XhmikosR commented on #556
Thanks!

[2015-04-28 11:10] hostep commented on #550
Ok, crash is gone now, thanks!

[2015-04-28 11:21] kinglozzer opened #558 "Merging rem rules sometimes removes pixel fallback, even with compatibility/skip aggressive flags"
Take the following example:

[code]

`cleancss -o test.min.css test.css --compatibility ie8 --skip-agressive-merging`

Output is:
[code]

Tested on v3.2.6.

[2015-04-28 11:28] kinglozzer commented on #558
Setting the `--skip-advanced` option works, so it’s something in the advanced merging. Possible duplicate of #363, although that was (incorrectly?) closed in 13e6752e20dbeee45528aa11353a1020ba9a89f3.

[2015-04-28 14:39] jakubpawlowicz commented on #558
@kinglozzer thanks for reporting, I'll take a closer look in the evening - may be a regression from 3.1.x.

[2015-04-28 19:56] jakubpawlowicz commented on #542
Sure, I should have something ready over the weekend.

[2015-04-28 20:04] azinasili commented on #521
Is there any options for this? The unit removal is causing bugs for flexbox shorthand in IE.

[2015-04-28 21:10] jakubpawlowicz commented on #521
@azinasili Could you please share any code examples?

[2015-04-29 06:28] qiangyee commented on #555
Thanks!

[2015-05-01 17:28] ehorodyski opened #559 "Keep *[property] when merging"
I have a not so unique situation where I'm using the Pure CSS grid system and I noticed that their columns are defined with two widths, one regular, and one with an asterik in front:

    .pure-u-1-4, .pure-u-6-24{
        width: 25%;
        *width: 24.9690%;
    }

This is a great trick for older browsers, but gets suppressed when merging. I looked through the configuration settings and it looks

[2015-05-01 17:30] jakubpawlowicz commented on #559
@ehorodyski how about `--compatibility ie8` ?

[2015-05-01 17:34] ehorodyski commented on #559
Hi @jakubpawlowicz , thanks for the super fast response! I apologize it does look like it's working.

Oddly enough, with sourcemaps on Safari 7 will pick it up. Without sourcemaps Safari 7 won't read it.

[2015-05-01 17:37] jakubpawlowicz commented on #559
No problem. :)

Could you share some more info re Safari 7 and source maps?

[2015-05-01 17:42] ehorodyski commented on #559
@jakubpawlowicz See updated comment. Thanks again!

[2015-05-01 17:46] jakubpawlowicz commented on #559
Does your gulp config include `compatibility: 'ie8'` as on: https://github.com/jonathanepollack/gulp-minify-css#minifycssoptions ? If possible please share it here or via email (in package.json).

[2015-05-01 18:29] ehorodyski commented on #559
It worked, and I completely apologize. I spaced. I was looking at configuration for `autoPrefixer`...

My settings are as follows: `keepSpecialComments: 0,compatibility: 'ie8'`.

[2015-05-01 21:51] jakubpawlowicz commented on #559
So it still does not work you, right? Could you please check which version of gulp plugin you use? Should be in node_modules/gulp-minify-css/package.json.

[2015-05-02 12:23] hostep opened #560 "Empty selectors which only contain comments aren't cleaned up when source maps are enabled"
Hi

I just noticed this behavior in clean-css 3.2.6 (I also tested in 3.1.9 and can't reproduce it over there).

Input:

[code]

Output with source maps enabled:

[code]

When source maps are disabled, the output is empty.

Not a big issue, but I thought I should mention it.

[2015-05-03 13:35] jakubpawlowicz commented on #560
@hostep thanks for reporting - it happens because clean-css does reverting of escaped data as a last step, whereas it should do it sooner - see #407 and #432 which are related. I'll leave it open to make sure we cover this case too.

[2015-05-03 14:15] #551 closed

[2015-05-03 14:15] #553 closed

[2015-05-03 14:15] #558 closed

[2015-05-03 14:16] jakubpawlowicz commented on #558
@kinglozzer It's fixed in 3.2.7.

[2015-05-03 14:16] jakubpawlowicz commented on #551
@hostep It's fixed in 3.2.7.

[2015-05-03 14:16] jakubpawlowicz commented on #553
@xzyfer It's fixed in 3.2.7.

[2015-05-03 14:23] jakubpawlowicz commented on #552
I'm closing this for now, please keep an eye on #330 for updates!

[2015-05-03 14:23] #552 closed

[2015-05-03 15:45] hostep commented on #551
Awesome, thanks!

[2015-05-04 00:20] xzyfer commented on #553
@jakubpawlowicz thanks!

[2015-05-04 06:28] #448 closed

[2015-05-04 08:32] #542 closed

[2015-05-04 08:34] jakubpawlowicz commented on #542
It's fixed in master now, following the investigation outcomes:

* it apparently does not work in IE9 where removing the space will always break content.
* in IE 10 it works only inside `background`, `transform` and `src` properties.

Can still be turned on with `--compatibility *,-properties.spaceAfterClosingBrace` switch.

[2015-05-04 08:34] jakubpawlowicz commented on #547
Closed by https://github.com/jakubpawlowicz/clean-css/issues/542#issuecomment-98634640

[2015-05-04 08:34] #547 closed

[2015-05-04 08:37] kinglozzer commented on #558
:+1: thanks @jakubpawlowicz

[2015-05-04 09:21] #517 closed

[2015-05-04 09:22] jakubpawlowicz commented on #517
Ready on master, to be released in 3.3 later this week.

[2015-05-04 11:16] #375 closed

[2015-05-04 11:18] jakubpawlowicz commented on #559
@ehorodyski Please reopen if needed.

[2015-05-04 11:18] #559 closed

[2015-05-04 14:50] Datanizze opened #561 "merged vendor-prefixed ::placeholder psuedo-selectors with 2+ rules not working in v3.2.7"
Hi,

Using the ::placeholder selector with vendor prefixes and more than one rule is not working in v3.2.7. The issue is not present in v3.2.6.

I'm just using `::placeholder`, which gets autoprefixed with -moz, -webkit and so on and is returned as separate selectors with their own (duplicate) rules (i.e. not a comma separated merge).

This works (i.e. the result is _not_ merged):
[code]

This doe

[2015-05-04 14:57] jakubpawlowicz commented on #561
Hmmm, it does not indeed. Seems like a regression from 3.2.6. Stay tuned!

[2015-05-04 15:33] #561 closed

[2015-05-04 15:33] jakubpawlowicz commented on #561
@Datanizze It's fixed in 3.2.8. Thanks a :100: for catching it quickly.

[2015-05-04 15:57] Datanizze commented on #561
@jakubpawlowicz thank you for the superb response time!

[2015-05-04 20:29] jakubpawlowicz commented on #561
Cheers, your detailed bug report helped a lot. :+1:

[2015-05-05 11:49] chilts opened #562 "What to do with `rgba(0 255 100%)`?"
Hi @jakubpawlowicz,

It's me again (from http://cssminifier.com/). I've been digging through a number of files that get submitted to the site and trying to extract failures I see. This one is fairly simple I think, but the question is what to do with it.

Smallest example that fails:

[code]

The error is:

[code]

What's happening is that inside `lib/selectors/optimizers/simple.js` inside `colorM

[2015-05-05 19:25] gpbmike opened #563 "background: inherit expansion"
A user on my site (http://refresh-sf.com) noticed that when minifying a class with `background: inherit` it is expanded to cover all background properties

`div{background:inherit;}` -> `div{background:inherit inherit/inherit inherit inherit inherit}`

I wanted to see if this was intentional or not?

[2015-05-06 04:02] ngyikp opened #564 "Potential merging optimization for linear-gradient?"
Input:
[code]

Prettified output from v3.2.8: (I'm not sure why ```-webkit-linear-gradient``` is removed??)
[code]
If I remove the ```#b``` block, then the first ```#a``` block is removed.

On v3.1.9, the first ```#a``` block is removed too, so this is kind of a regression on v3.2.0, not too major though.

[2015-05-06 06:51] jakubpawlowicz commented on #564
@ngyikp in this case it can definitely be removed. I'll look into the issue!

[2015-05-06 06:58] jakubpawlowicz commented on #562
Hi @chilts,

Thanks for coming back :-)

I think there are 2 questions:

* whether rgb/rgba without commas are even valid (I haven't checked yet)
* if so, in which browsers, so we change the logic to accommodate such rgb declarations

Good idea with analysing the common errors though :100:

[2015-05-06 06:59] jakubpawlowicz commented on #563
Oh, it's definitely not. Good catch!

[2015-05-06 19:21] robcalcroft opened #565 "New line not preserved after comments before CSS code"
When the CSS is minified the minified code starts on the same line as my ending comment see below:
[code]

[2015-05-06 21:17] jakubpawlowicz commented on #565
@robcalcroft I'd say is rather a feature than a bug. Any reason you think it should be otherwise?

[2015-05-06 21:18] robcalcroft commented on #565
Agreed

[2015-05-07 04:58] aguynamedruchir opened #566 "Selector merging breaks ::selection"
[code]

:arrow_down:

[code]

---

The selectors need to be separate to work.

From [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/::selection)

This should be the output

[code]

The workaround for now is to disable `advanced` mode.

[2015-05-07 06:49] jakubpawlowicz commented on #565
:+1:

[2015-05-07 06:49] #565 closed

[2015-05-07 06:53] jakubpawlowicz commented on #566
@aguynamedruchir a #561 duplicate?

[2015-05-07 07:07] aguynamedruchir commented on #566
Yes, it is.

[2015-05-07 07:07] #566 closed

[2015-05-07 08:24] jakubpawlowicz commented on #566
:+1: So it's fixed in 3.2.8,

[2015-05-07 08:46] aguynamedruchir commented on #566
Yup!

I was using this with gulp ([gulp-minify-css](https://github.com/jonathanepollack/gulp-minify-css)). Ran an update and it works perfectly now. Thanks!

[2015-05-07 09:34] jakubpawlowicz commented on #566
That's great!

[2015-05-07 11:41] wahler opened #567 "Missing parameter in can-override.js"
I'm having an error with the latest version 3.2.8.
At this point https://github.com/jakubpawlowicz/clean-css/blob/v3.2.8/lib/properties/can-override.js#L56 function "sameFunctionOrValue" is called with two parameters, but expects three, see https://github.com/jakubpawlowicz/clean-css/blob/v3.2.8/lib/properties/can-override.js#L73

This results in:
.../node_modules/gulp-minify-css/node_modules/clea

[2015-05-07 21:31] jakubpawlowicz commented on #567
Good catch, @wahler. Any chance you can share the piece of CSS it fails on? If not I'll try to figure out what it can be. I'll fix it on spot tomorrow.

[2015-05-08 05:57] wahler commented on #567
Thanks for your quick response, @jakubpawlowicz
property1 equals
[code]
and property2 equals
[code]

Does that help?

[2015-05-08 07:03] jakubpawlowicz commented on #567
Amazing! :-) Fix is coming.

[2015-05-08 08:56] #567 closed

[2015-05-08 08:56] jakubpawlowicz commented on #567
@wahler Fixed and released in 3.2.9.

[2015-05-08 17:35] scarlac opened #568 "Newslines are preserved in nested LESS selector with comments"
For each block comment in a selector I am seeing a newline that isn't being stripped.
Here a snippet of the code:

[code]

Which results in:

[code]

Notice the amount of whitespace here.

The file is processed with LESS and then minified with gulp-minify-css. If I replace the /\* comment */ blocks with LESS comments (//) then they get removed (unsurprisingly). For each comment I remove, the amoun

[2015-05-08 18:18] jakubpawlowicz commented on #568
@scarlac Would you be able to share the input CSS file (at least an excerpt)? I don't think I'm able to reproduce it as for now.

If you prefer sending it over via email it's in the package.json file.

[2015-05-08 18:23] scarlac commented on #568
Sure. You've got mail.

[2015-05-08 19:36] symbiat opened #569 "Can we register this to make it installable from bower ?"

[2015-05-09 15:48] shinnn opened #570 "@import without url() causes unexpected inlining"
## Setup

### Versions

[code]

### CSS File

./external.css

[code]

No other `.css` files exist.

## Tests

### Test script 1: with `url()` (OK)

[code]

An error occurs because `external.css` doesn't exist in `foo` directory. That is just an expected behavior.

### Test script 2: without `url()` (not OK)

[code]

It should try to inline `foo/external.css` and throws a `Broken @import` error, bu

[2015-05-11 01:13] hansenyang commented on #504
Very nice, very appreciate it

[2015-05-11 08:39] chilts commented on #562
From what I can see, the `rgb()` and `rgba()` must enclose 3 or 4 integer or percent values. Anything else (including mixing them) is invalid. The example above is therefore wrong in at least three ways:

1. the values mix both integer and percent values
1. the values are not separated by a comma
1. it is rgba but only has three values, not four

I'm afraid I don't have access to many browsers, ju

[2015-05-12 20:38] azinasili commented on #521
Sure. I'm using CSSMin for grunt which is using the latest clean-css. If I where to have `flex: 1 0 0%` in my source after running the task would output `flex: 1 0 0`. Although this is normally desired it creates an issue for IE 10-11. More information about the bug can be found at this [repo](https://github.com/philipwalton/flexbugs#4-flex-shorthand-declarations-with-unitless-flex-basis-values-ar

[2015-05-13 05:08] timbofield opened #571 "Documentation on the properties and methods of the minified object"
Maybe I'm not looking in the right place but I can't see what properties are available in the minified_css object? Is there some documentation around this?

Thanks

[2015-05-13 07:41] #571 closed

[2015-05-13 07:41] jakubpawlowicz commented on #571
@timbofield Good catch! Please see the diff or bottom of https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-programmatically for details.

[2015-05-13 07:44] jakubpawlowicz commented on #570
Yup, it should not work this way. The reason it does is because all URLs are rebased first and if you don't pass import as a `url(...)` then it does not get rebased, thus finds the file in a local folder.

[2015-05-13 08:02] shinnn commented on #570
Now I can say "this is a bug" with confidence. According to the W3C CSS3 spec,

http://www.w3.org/TR/2015/CR-css-cascade-3-20150416/#at-import

(**emphasis mine**)

and,

http://www.w3.org/TR/2015/CR-css-cascade-3-20150416/#example-26dd2184

Putting it simply, `"external.css"` is also a (relative) URL and `@import "external.css"` and `@import url("external.css")` should be treated as exactly the s

[2015-05-13 14:05] eduardocasas commented on #563
Same problem here.

[2015-05-13 22:21] jkenlooper opened #572 "Missing media query when last rule is empty"
A media query with last rule being empty strips out the whole media query.

[code]

Is incorrectly minified to this starting with the version 3.2.0.  The 'min-width: 960px' media query is missing.

[code]

[2015-05-14 12:24] jakubpawlowicz commented on #572
@jkenlooper good catch - I'll fix it later today!

[2015-05-14 17:49] slindstr opened #573 "Reordering media blocks to assist in media merging"
Hi!

First off, I wanna say thanks for this; clean-css is really great!

I wanted to float an idea by you guys to get your thoughts on what it would take to implement an option that would move media queries to the end of the CSS to assist in media merging.

Doing this would require CSS rulesets to be authored in an order from most general to most specific so they embrace the cascade and build off

[2015-05-14 20:27] #572 closed

[2015-05-14 20:28] jakubpawlowicz commented on #572
Fixed in 3.2.10! :+1:

[2015-05-14 20:55] jakubpawlowicz commented on #573
@slindstr I'm glad you like clean-css and thanks for sharing your idea! It's not in fact a pipe dream as in a scenario where CSS is truly semantic it should be possible to do what you described. The way people write SASS these days result in lots of media blocks being repeated so it's a burning issue.

In fact if you take a look at https://github.com/jakubpawlowicz/clean-css/tree/semantic-merging

[2015-05-14 20:55] jakubpawlowicz commented on #569
@symbiat Any reason it should be installable via bower?

[2015-05-14 21:30] symbiat commented on #569
Just so we can integrate into our Ionic framework project.

[2015-05-14 23:37] slindstr commented on #573
Cool! Let me know how I can help out with this enhancement and I'll see what I can do. Probably won't be able to work on it for the next couple of weeks though.

[2015-05-15 07:07] allex opened #574 "url-rewriter.js rebased url("about:blank") unexpected"
`lib/images/url-rewriter.js#rebase()` rebased url("about:blank") unexpected, i think this should keep original if happens

[2015-05-15 07:18] jakubpawlowicz commented on #569
Let me see...

[2015-05-15 10:32] #574 closed

[2015-05-15 10:34] jakubpawlowicz commented on #574
I've just fixed it in master. It'll be a part of 3.3 release which will happen in the next couple days.

[2015-05-15 10:37] jakubpawlowicz commented on #573
I think there's a long journey ahead to make it happen but we should do it in small steps. First one is having a basic semantic merging in 3.3.

Any testing and ideas would be more than welcome! I'll ping you once it goes out into the wild.

[2015-05-15 10:42] jakubpawlowicz commented on #569
@symbiat out of curiosity do you plan to use it in a node.js runtime or as a browserified module?

[2015-05-15 19:03] ajenkins-kyr commented on #480
I'm seeing this issue with version 3.2.10.

I ran:
[code]
And when I tried to minify my CSS I got the error:
[code]

[2015-05-15 19:07] jakubpawlowicz commented on #480
@ajenkins-kyr any chance to share your CSS?

[2015-05-15 19:13] ajenkins-kyr commented on #480
Here's more of my gulp output:
[code]
Based on where gulp failed, I'm assuming that normalize.css is the file with the issue. Here's the contents of normalize.css:
[code]

[2015-05-15 21:28] jakubpawlowicz commented on #480
You must be running an old version of clean-css @ajenkins-kyr - see which one under `/Users/ajenkins/Development/kyruus/style_guide/node_modules/gulp-minify-css/node_modules/clean-css/package.json`.

[2015-05-15 21:32] ajenkins-kyr commented on #480
# ajenkins at mission.local in ~/Development/kyruus/providermatch_beta/functional on git:KP-1528-fix-functional-tests-in-v7 o [17:32:07]
$ cat /Users/ajenkins/Development/kyruus/style_guide/node_modules/gulp-minify-css/node_modules/clean-css/package.json
{
  "name": "clean-css",
  "version": "3.2.10",
  "author": {
    "name": "Jakub Pawlowicz",
    "email": "contact@jakubpawlowicz.com",
    "url"

[2015-05-15 21:34] jakubpawlowicz commented on #480
Well, that's odd. I've tested your CSS locally with 3.2.10 and it works fine. Can you do the same by passing it via `/Users/ajenkins/Development/kyruus/style_guide/node_modules/gulp-minify-css/node_modules/clean-css/bin/cleancss`?

[2015-05-17 18:14] rooks opened #575 "'target' option is heavy related on file system"
I've found this issue when I was using gulp plugin [gulp-minify-css](https://www.npmjs.com/package/gulp-minify-css) to fix my urls. I'm getting wrong urls when target directory doesn't exist.

Here is the small example to reproduce the issue:

[code]
I've discovered it when I was running build on my ci machine. It works fine locally because I'm not cleaning my working copy on every build, But ci m

[2015-05-18 05:38] hanifbbz opened #576 "How to disable `/*!` comments programmatically?"
Sorry for the novice question, but I'm using gulp-minify-css which is a wrapper on top of clean-css.

I've tried `minifyCss({s0:true})` in order to remove all comments but it doesn't work. What am I doing wrong?

[2015-05-18 06:53] jakubpawlowicz commented on #576
@hanifbbz You need `keepSpecialComments: 0` - see https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-programmatically

[2015-05-18 09:15] jakubpawlowicz commented on #575
@rooks Well, it probably shouldn't assume the directory is in place as when using API you are in full control of the output - i.e. there's no way of setting `target` in CLI - maybe it should say sth like `options.target && (!fs.existsSync(options.target) || fs.statSync(options.target).isDirectory()) ? options.target : path.dirname(options.target)`.

Re `relativeTo` here's are the rules - https://g

[2015-05-19 14:42] keithjgrant commented on #572
I saw a similar issue with keyframes being removed... did this fix cover that as well?  I'm running 3.2.9 from within a lib I don't have control over, so I don't have a quick means of testing.  In my example, this was being stripped out entirely:

[code]

[2015-05-19 15:34] jakubpawlowicz commented on #572
@keithjgrant you can remove the lib from `node_modules` and run `npm install` once again - this will bring you the clean-css 3.2.10 unless the lib pinned to clean-css 3.2.9 (highly unlikely).

[2015-05-19 16:10] jaetea opened #577 "Background Clip shorthand breaking IE8"
No matter what flag I set clean-css adding the background clip property to the background shorthand.

This completely break in IE8.

background:url(../../images/site_chrome_bg.png) repeat-x padding-box #6295b9;

padding-box need to stay in it's own property to work in IE8. background-clip: padding-box;

[2015-05-19 16:18] jakubpawlowicz commented on #577
Is it also the thing in IE8 mode?

[2015-05-19 16:22] jaetea commented on #577
Yes does this in IE8 compatibility mode too..which is strange.

[2015-05-19 16:28] jakubpawlowicz commented on #577
Well, need to give it a try - we do similar thing for `background-size` already but I thought `background-clip` is fine in IE8.

[2015-05-19 16:37] jaetea commented on #577
Just run this through clean-css

.portlet header {
  background: #6295b9 url('../../images/site_chrome_bg.png') repeat-x;
  text-align: left;
  border: 1px solid #cccccc;
  border-bottom: 0;
  font-weight: bold;
  padding: 4px 6px;
  margin: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-to

[2015-05-19 16:40] jakubpawlowicz commented on #577
:+1: thx - need to test it in IE too - in the meantime you can disable it entirely using `--skip-shorthand-compacting`.

[2015-05-19 17:17] jaetea commented on #577
So that works. Except now the space after the closing URL bracket isn't being written.
cleancss --compatibility *,+properties.spaceAfterClosingBrace --skip-shorthand-compacting -o models.css models.css

[2015-05-19 17:21] jakubpawlowicz commented on #577
Can you try with `cleancss --compatibility ie8 --skip-shorthand-compacting -o models.css models.css`?

[2015-05-19 17:23] jakubpawlowicz commented on #577
This is the output I get:

[code]

[2015-05-19 17:25] jaetea commented on #577
Perfect. Thanks so  much!

[2015-05-19 17:30] jakubpawlowicz commented on #577
:+1: I'll keep the issue open though to investigate `background-clip` on IE8.

[2015-05-19 20:06] keithjgrant commented on #572
Ah, right. For some reason I thought my date of original installation was after this 3.2.10 was released, but I guess I was off by a day or two.

I can confirm this fixed my issue with the keyframes. Thanks!

[2015-05-20 06:23] #563 closed

[2015-05-20 06:23] #575 closed

[2015-05-20 06:26] jakubpawlowicz commented on #575
I've fixed `target` to handle cases when it points to a missing folder.

Re `relativeTo` option it will cause URL rebase to whatever you set it to, so if that's root of you project you should leave it empty or set it to and empty string. I think that's an expected behavior.

[2015-05-20 06:27] jakubpawlowicz commented on #563
It's fixed in 3.3-pre master. I'm considering backporting it to 3.2 too.

[2015-05-20 06:27] jakubpawlowicz commented on #572
No worries, that's great! :+1:

[2015-05-20 11:35] d4rkr00t opened #578 "Breaking border-color in ie up to 11"
clean-css has `-c` option intended to handle ie7-8 issues, but there is an issue with all latest ie, and mobile ie:

This code:
[code]

Will be minimized to:
[code]

Which doesn't work in all ie up to 11. With `-c ie8` option everything works as expected, produced code will be:
[code]

With space between rgba and rgba.

May be better not to remove space between rgba in such cases?

[2015-05-20 12:15] jakubpawlowicz commented on #578
@d4rkr00t it's a duplicate of #542 - already fixed in 3.3-pre / master due to be released as soon as I find some time to finish the changes.

[2015-05-20 12:15] #578 closed

[2015-05-20 12:16] jakubpawlowicz commented on #578
Please use `--compatibility +properties.spaceAfterClosingBrace` for now on.

[2015-05-20 12:29] d4rkr00t commented on #578
Great, thanks!

[2015-05-20 15:48] gpbmike commented on #563
Thank you kind sir. :+1:

[2015-05-20 19:26] #570 closed

[2015-05-20 19:28] #576 closed

[2015-05-20 19:54] #577 closed

[2015-05-20 19:55] jakubpawlowicz opened #579 "`background-origin` merging into a shorthand"
See #577

[2015-05-20 19:55] jakubpawlowicz commented on #577
@jaetea it's fixed in master now, will be a part of upcoming 3.3 release.

As a side note it also affects `background-origin` merging which will be addressed in #579.

[2015-05-20 20:04] #579 closed

[2015-05-20 20:09] jakubpawlowicz commented on #562
Well I think we should remove the declarations as browsers will ignore them anyways. Let's see if it's easy to do so, otherwise we can also leave them as is.

[2015-05-20 20:09] jakubpawlowicz commented on #569
@symbiat any info?

[2015-05-20 20:43] #562 closed

[2015-05-20 20:44] jakubpawlowicz commented on #562
So it will stay as is for now as it's too tricky to remove these declarations effectively.

[2015-05-21 12:18] shinnn opened #580 "HTTP @import after No-URL @import causes an error"
## Setup

### Versions

This test uses the current [`master`](https://github.com/jakubpawlowicz/clean-css/tree/master) branch (not v3.2.10 on npm).

[code]

### CSS File

./external.css

[code]

## Tests

### Test script 1: HTTP `@import` after `url("external.css")` :o:

[code]

It doesn't throw any errors.

### Test script 2: HTTP `@import` after `"external.css"` :x:

[code]

It throws the follow

[2015-05-22 08:30] rjgotten opened #581 "Property de-duplication in @font-face produces semantically different CSS (Disregard; fixed in 2.3.10)"
**This report can be ignored; under v2.3.10 this bug does not reproduce anymore**

Given is the following input CSS, which uses linked font-family styles for all browsers that support the full `@font-face` syntax and falls back to faux-bold (note use of the regular font-face) for IE8 and below:

[code]

When processed by CleanCSS (v 3.2.4), even with the `--compatibility=ie8` flag, it will produce

[2015-05-23 08:00] jakubpawlowicz commented on #581
@rjgotten Thank for a detailed bug report! I've just tested locally and here's the output I got:

[code]

That's on 3.2.4 and it's the same on 3.2.10.
Would you be able to share a larger excerpt from your CSS source?

[2015-05-24 13:03] rjgotten commented on #581
Hi. Maybe this is something related to behavior triggered with other configuration flags?
It should reproduce in 3.2.4 with the `--s0 --advanced --compatibility=ie8` flags.

[2015-05-26 03:50] chenxiaochun opened #582 "Missing some codes after running the cleancss"
#### In my file has some codes as bellow:

<pre>
<blockquote>
a.css3-btn {
    color:#fff;
    background-color:#e74649;
    border-radius:2px;
    background:-webkit-gradient(linear,0 0,0 100%,from(#e74649),to(#df3033));
    background:-moz-linear-gradient(top,#e74649,#df3033);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649',endColorstr='#df3033');
    background: -o

[2015-05-26 07:17] phiw13 opened #583 "SVG image in dataURL is incorrectly minified and breaks further minification"
clean-css v 3.2.10
running: cleancss -b -d -o style.min.css style.css

input:
[code]

output:

[code]

[2015-05-26 07:24] mderazon commented on #524
I still get sporadic timeouts when importing google fonts with this fix applied (`v3.2.10`)
I get it in various network configurations.

It happens around 30% of the times i'd say.
I circumvented it by applying `--skip-import` so it's not a big deal for me...

[2015-05-26 08:39] jakubpawlowicz commented on #524
@mderazon that's odd indeed - I wonder if it applies to anything else than Google Fonts...

[2015-05-26 08:39] jakubpawlowicz commented on #581
I'll give it a try again.

[2015-05-26 08:41] jakubpawlowicz commented on #582
@chenxiaochun I'll take a look later today - I thought we already cover it.

[2015-05-26 08:42] jakubpawlowicz commented on #583
Good catch - I think we should be smarter about choosing the right kind of quotes.

[2015-05-26 20:43] herrbischoff opened #584 "keepSpecialComments does not work at all"
I'm using clean-css within a `gulp` workflow (via `gulp-cssmin`) but the `keepSpecialComments` option is not honored. By default, all special comments should be preserved but instead they are stripped. If I run it with an additional option, this additional option is honored. Like so:

[code]

The linebreaks are there but all special comments have been stripped out.

[code]

This gives the exact sa

[2015-05-27 07:55] jakubpawlowicz commented on #584
It clearly should do so, e.g. from latest master:

[code]

It's hard to tell why gulp plugin does not honor the option as I have no experience with it.

[2015-05-27 08:21] #583 closed

[2015-05-27 08:22] jakubpawlowicz commented on #583
@phiw13 Fixed in master - feel free to use 3.3-pre, `--skip-rebase` option (if possible) or wait until it's backported to 3.2.11.

[2015-05-27 12:43] herrbischoff commented on #584
Thanks for your reply. I'm checking with the author of `gulp-cssmin` then.

[2015-05-27 15:09] shinnn commented on #584
@jakubpawlowicz Interesting. Which option?

[2015-05-27 15:23] shinnn commented on #584
Could you show us the result of this command in your project directory?

[code]

[2015-05-27 15:35] herrbischoff commented on #584
@shinnn Here's the info you asked for:

[code]

[2015-05-27 15:36] shinnn commented on #584
Hmm, you're using the latest version...

[2015-05-27 15:50] shinnn opened #585 "`keepBreaks: true` adds an extra line break after the special comment"
## Script

[code]

## Output

[code]

We can reproduce it with both v3.2.10 on npm and the [current `master` branch](https://github.com/jakubpawlowicz/clean-css/tree/475c39c9bf9993b0982e47e682dda774493636ac).

[2015-05-27 15:51] shinnn commented on #584
i found another issue related to `keepBreaks`. https://github.com/jakubpawlowicz/clean-css/issues/585

[2015-05-27 16:16] herrbischoff commented on #584
Thanks to @shinnn I learned that this is actually due to a Stylus peculiarity. Stylus converts special comments to normal ones on compilation, and `clean-css` is (quite correctly) removing the now standard comment.

You need to write `/*!! comment */` instead of `/*! comment */` for Stylus to keep it as a special comment.

[2015-05-27 16:16] #584 closed

[2015-05-28 06:39] #582 closed

[2015-05-28 06:48] jakubpawlowicz commented on #585
Well, clean-css adds line break after every token, and comments are also treated as a tokens. So it works this way by design.

[2015-05-28 06:49] jakubpawlowicz commented on #584
@herrbischoff @shinnn thanks for the investigation - do you know whether Stylus team is aware of this issue?

[2015-05-28 07:09] shinnn commented on #584
https://github.com/stylus/stylus/issues/1763

[2015-05-28 07:11] shinnn commented on #585
Oh, I see. Thanks, @jakubpawlowicz.

[2015-05-28 07:11] #585 closed

[2015-05-28 08:22] jakubpawlowicz commented on #584
:+1:

[2015-05-28 10:41] xin2014 opened #586 "problem about background property"
clean-css render
`.foo { background:url(../images/foo.png) no-repeat center bottom; }`
to
`.foo{background:url(../images/foo.png)center bottom no-repeat}`
with all options include `-c`.

IE8 can't recognise this property because the lack of blank between `url(..)` and `center`
Anyone has an idea ? Thanks.

I found the problem at [#497](https://github.com/jakubpawlowicz/clean-css/issues/497)
Sorry

[2015-05-28 10:45] #586 closed

[2015-05-29 08:48] #580 closed

[2015-05-29 08:49] jakubpawlowicz commented on #580
Fixed in master. Very nice bug report :+1:

[2015-05-29 17:22] ogonkov opened #587 "border-color merges too much aggressively"
clean-css break styles with reordering styles. tested on `clean-css@3.2.10`

[code]

result:
[code]

Now `.button_primary` has broken border, instead of red.

[2015-05-29 19:24] jakubpawlowicz commented on #587
Thanks @ogonkov for reporting this. I'll push a fix shortly!

[2015-05-29 19:26] jakubpawlowicz commented on #587
Seems like a bug in restructuring - you can use `--skip-restructuring` switch in the meantime.

[2015-05-30 07:07] #587 closed

[2015-05-30 07:09] jakubpawlowicz commented on #587
I pushed a fix to master which I plan to backport to 3.2 branch tomorrow and release a last maintenance version of it. It'll also go into 3.3 release should be out as soon as tomorrow.

[2015-05-30 07:19] ogonkov commented on #587
Thank you, @jakubpawlowicz !

[2015-05-30 08:35] jakubpawlowicz commented on #587
Re your question about `border-image` I thought it's not affected by `border` but in fact it is. I'll add a new commit however the rules will be slightly different.

[2015-05-31 10:21] jakubpawlowicz opened #588 "Add semantic merging for content restructuring"
Depends on #533

[2015-05-31 13:54] jakubpawlowicz commented on #280
@tompazourek the first part of this functionality has been merged to master in bd03cb3114c5ea20cbb928aa5ffb89b7ab361dd1 - see a follow up in #588.

[2015-05-31 13:54] #280 closed

[2015-05-31 19:39] igorsantos07 opened #589 "Already present sourcemap comment is always stripped off"
I use two processors in my build proccess: Stylus and CleanCSS.
Stylus adds a sourcemap comment in the end of the resulting css file, but it's always stripped in the minified version - and I'm unable to make it output in an external file or with a `/*!` comment.

Would be nice if we could have one more option on `keepSpecialComments` that would allow sourcemap comment, or a new option only for ign

[2015-05-31 21:03] jakubpawlowicz commented on #589
@igorsantos07 so the source map is inlined into the CSS output from Stylus, right? Would you be able to post an excerpt?

[2015-06-01 03:18] shinnn commented on #580
Thanks always :)

[2015-06-01 07:17] Eschon commented on #589
Could be related to #584.
Maybe [this comment](https://github.com/jakubpawlowicz/clean-css/issues/584#issuecomment-105982420) helps.

[2015-06-02 07:27] maurermax opened #590 "@font-face font-name is changed during minifcation in new 3.3.0"
We use gulp-minify-css which has recently changed from 3.2.6 to 3.3.0. Since then the following css is not correctly compacted anymore.

[code]

is compacted to
[code]

the font-family is not a string anymore and is instead transformed to an url statement.

We are running the process with `processImport: false` to keep the tracking import for our paid fonts.

[2015-06-02 07:37] jakubpawlowicz commented on #590
I've just run your code fragment via clean-css 3.3 and here's the output:

[code]

At this point I have no idea why font-family is being wrapped in a `url()`.

[2015-06-02 08:02] maurermax commented on #590
thanks for looking into this so quickly. I will go and test this first via command line here. Perhaps the issue is also related to gulp-minify-css. I will get back to this issue in after testing this

[2015-06-02 08:11] maurermax commented on #590
okay. the error is also happening on my command line just with cleancss

[code]

[code]

gives me

[code]
The complete input css was
[code]

[2015-06-02 09:13] jakubpawlowicz commented on #590
@maurermax Thx for sharing - I'll check soon.

[2015-06-02 09:17] maurermax commented on #590
thanks for looking into this!

On Tue, Jun 2, 2015 at 11:13 AM Jakub Pawlowicz <notifications@github.com>
wrote:

[2015-06-02 11:19] Ghostavio opened #591 "css calc height fallback for older browsers"
Hello, so I'm using the following in my code:
[code]
So for browsers without `calc` support, the first value should be taken, but cssmin is removing it and keeping just `height: calc(100% - 55px);`, there's anyway to keep this particular duplicated css attribute without disabling all the duplication removal, or maybe creating a rule for this specific case?
In case it's not possible, how would I co

[2015-06-02 12:16] jakubpawlowicz commented on #590
I can see it now. I'll push a fix later today.

[2015-06-02 15:31] leandroruel commented on #590
+1 i have this issue too!

[2015-06-02 20:03] #590 closed

[2015-06-02 20:04] jakubpawlowicz commented on #590
Fixed in 3.3.1!

[2015-06-02 20:14] jakubpawlowicz commented on #591
Could you share your cssmin setup? I can clearly see it works fine in any 3.x:

[code]

[2015-06-03 07:45] maurermax commented on #590
thanks a lot for fixing this so quickly.

On Tue, Jun 2, 2015 at 10:04 PM Jakub Pawlowicz <notifications@github.com>
wrote:

[2015-06-03 08:40] jakubpawlowicz commented on #590
Sure, no reason to wait! :+1:

[2015-06-03 13:06] codecadwallader commented on #590
I lost a few hours tracking this one down yesterday.  It only seemed to be an issue with the combination of gulp-sourcemaps and a myfonts import URL.  The fix is working for me - thanks as well for the quick resolution!

[2015-06-03 14:05] jakubpawlowicz commented on #590
@codecadwallader :tada: I'm glad it helped.

[2015-06-03 16:52] sultangaleev opened #592 "grunt-contrib-cssmin generates incorrect source urls in sourcemap"
grunt-contrib-cssmin trims leading slashes in css sourcemap sources url, thus making css mapping incorrect. Sourcemap is generated from another sourcemap file.

Here are the contents of generated sourcemap, all urls are made relative to css file location:
{"version":3,"sources":["less/base/normalize.less","less/base/boilerplate.less"...

And here are the contents of correct sourcemap (the initial

[2015-06-03 17:44] jakubpawlowicz commented on #592
@sultangaleev Could you please share your grunt config for clean-css? It's possible it happens because a `root` option is set.

[2015-06-04 11:36] sultangaleev commented on #592
no root option is set. Here's my cssmin part of gruntfile.js:

      cssmin: {
        options: {
          shorthandCompacting: false,
          sourceMap: true,
          roundingPrecision: -1
        },
        target: {
          files: {
            'web/css/style.min.css': 'web/css/style.css'
          }
        }
      }

File structure is like this:

    web (resource root)
    ├─css
    │

[2015-06-04 12:30] sultangaleev commented on #592
Setting or unsetting root in cssmin options doesn't seem to change anything in sourcemap.

Also, when source css is taken from subfolder, let's say `'dev'`, (and cssmin.target is set to `files: {'web/css/style.min.css': 'web/css/dev/style.css' }`) the resulting sourcemap looks like this:

    {"version":3,"sources":["dev/less/base/normalize.less","dev/less/base/boilerplate.less"...

[2015-06-04 13:05] Splurov opened #593 "Incorrect sourcemap for multi-line comment when css source from other module"
https://github.com/Splurov/lpcc-error

How to reproduce:

[code]

Output:

[code]

Unhandled rejection goes from https://github.com/jenius/accord/blob/master/lib/sourcemaps.coffee#L17

'$stdin' goes from https://github.com/jakubpawlowicz/clean-css/blob/master/lib/stringifier/source-maps.js#L39

Here is console.log(element) if put it on line 13 in https://github.com/jakubpawlowicz/clean-css/blob/ma

[2015-06-04 16:09] jakubpawlowicz commented on #593
Thanks for creating a repo for the error report, much appreciated! I'll take a look at what less does with multiine comments and how we fail to handle it.

[2015-06-04 16:10] jakubpawlowicz commented on #592
Let me see if I can figure out anything :-)

[2015-06-04 17:11] StuartMorris0 opened #594 "Minify CSS causing source maps to not work"
Hello,

I am trying to determine where the issue with this setup lies... We are trying to setup source maps for our LESS configuration, but it appears to be failing when using minifycss. Which is just a wrapper for clean-css so thought I should come here.

I have tried adding sourceMaps: true parameter, but the same issue occurs. The sourcemaps are not correct and there link to line 1 of the file

[2015-06-05 08:34] jakubpawlowicz commented on #594
@StuartMorris0 I have little experience with gulp but I wonder if the source map passed into clean-css is correct. I think you can find it out by removing `.pipe(minifycss({sourceMap: true}))` and checking if output source map is correct. If it is it could be either 1) misconfigured clean-css 2) a bug

[2015-06-06 16:40] thekondrashov opened #595 "IE hack issue"
I tried to use [IE 10 css hack](http://browserstrangeness.bitbucket.org/css_hacks.html) by Jeff Clayton:
[code]
My real input CSS:
[code]
Expected output:
[code]
But real output is empty.

I use clean-css through `Minify` package for Sublime Text (it uses clean-css directly).
Command line parameters: `--s0 -s --skip-rebase`
Latest version of clean-css (now is v3.3.1) on Windows 8.1 Pro x64.

[2015-06-07 11:09] StuartMorris0 commented on #594
@jakubpawlowicz Thanks, when removing the minifycss line the source map that is created is correct and works as expected. Do you know what could be wrong in terms of misconfiguration? Or who would be able to advise if this is a bug?

At the moment our alternative looks to be not to minifycss which wouldn't be an option. Thanks for your help.

[2015-06-07 18:36] haf opened #596 "list-style-type gets destroyed"
On line 0:

[code]

Gets output to:

`.list-123{font-size:1.2rem;padding:0;margin-top:2rem}`

[2015-06-08 06:29] jakubpawlowicz commented on #596
clean-css runs in IE9+ mode by default, so first of all you need to run in IE7 compatibility mode (--compatibility ie7), however it still does not seem to work unless you turn off advanced mode (`--skip-advanced`). I'll find out why.

[2015-06-08 06:30] jakubpawlowicz commented on #591
I'll close it for now, but please reopen if needed.

[2015-06-08 06:30] #591 closed

[2015-06-08 06:34] jakubpawlowicz commented on #594
Any chance you could share `styles.min.css` and the source map - without these two it'll be hard to figure out what's going on - my email is in package.json.

[2015-06-08 06:45] jakubpawlowicz commented on #595
@thekondrashov it seems to be lost somewhere during parsing process

[2015-06-09 08:22] vdclouis commented on #595
`outline: thin dotted \9; /* IE6-9 */`
get's parsed as
`outline: thing dotted;`

[2015-06-10 14:22] ezraroi opened #598 "restructuring: true is ruing the css"
Since the last versions, the restructuring of the css changes the way things are displayed on the screen. A good example for this is the [UI-Grid](https://github.com/angular-ui/ng-grid). When using the css after minify things looks different without the minification (started in version ~3).

[2015-06-10 14:26] jakubpawlowicz commented on #598
Would you be able to point me to a more distilled test case? Does it affect all browsers, etc?

[2015-06-10 14:33] ezraroi commented on #598
Yes, all web browsers.

Will try to create a plnker with the 2 versions to demonstrate the problem

[2015-06-10 14:44] jakubpawlowicz commented on #598
Would be great! :+1:

[2015-06-11 10:31] StuartMorris0 commented on #594
Hello @jakubpawlowicz

I was about to send all the information over, and when collecting the information it begun to work... Strange.

However, one question. Here is a little information about our development environment to help too.

All our development files, less files, JS etc is stored locally on the local machine. For example:
C:\TA\RD_Base_DoNotDelete\trunk\ResponsiveBuild

The CSS/sourcemap

[2015-06-11 15:45] cvillanujr commented on #595
I'm having the same issue, but in my case it's completely removing the line. I'm using this in my grunt build.
[code]

[code]
outputs:
[code]

[2015-06-11 20:45] nilveryawesome commented on #110
Same issue raise with "clean-css": "^3.1.0"

[2015-06-12 05:45] jakubpawlowicz commented on #110
@nilveryawesome I definitely don't see it with latest 3.1, 3.2, and 3.3 branches. Can you share your use case?

[2015-06-12 05:46] jakubpawlowicz commented on #595
Seems like two different bugs, one with selector parsing, the other with value parsing. Stay tuned, fix is coming.

[2015-06-12 15:11] cvillanujr commented on #595
Thank you.

[2015-06-12 15:37] cspotcode opened #599 "Sourcemap tracker fails when input sourcemap is data URI (inline)"
In "input-source-map-tracker.js", it automatically locates the `/*#sourceMappingURL=` in the input .css file (very cool!) but does not account for the possibility that the URL is a data URI:
[code]

https://github.com/jakubpawlowicz/clean-css/blob/master/lib/utils/input-source-map-tracker.js#L71-L73

It attempts to read this file off disc:
`/path/to/source/data:application;base64,eyJ2ZXJzaW9uIjozL

[2015-06-12 19:56] cspotcode commented on #599
I wrote a patch that implements the fix:
https://github.com/jakubpawlowicz/clean-css/pull/600

I didn't write any tests, though.  If you want to merge this, I can look into making some tests.

[2015-06-14 09:57] jakubpawlowicz opened #601 "Minify percentage in flex properties"
See https://github.com/jakubpawlowicz/clean-css/issues/521#issuecomment-101412997

[2015-06-14 10:23] jakubpawlowicz commented on #581
@rjgotten Sorry for a little delay - I still can't replicate it neither with 3.2.4 or 3.3.1 even with options you provided. If you still experience it with 3.3.1 then please reopen the issue.

[2015-06-14 10:23] #581 closed

[2015-06-14 10:49] jakubpawlowicz commented on #594
The two paths do not have a common root so I guess we'd need an extra option, sth like source map root to make it work.

[2015-06-14 11:44] jakubpawlowicz commented on #594
As a matter of fact you are using clean-css via a gulp plugin so the plugin handles writing the files and setting a path to source map file. clean-css does it but when you use the binary only, see: https://github.com/jakubpawlowicz/clean-css/blob/master/bin/cleancss#L123

I've opened a gulp-minify-css issue to help you out: https://github.com/murphydanger/gulp-minify-css/issues/106

[2015-06-14 11:44] #594 closed

[2015-06-14 13:33] jakubpawlowicz opened #602 "Properly handle hacks with whitespace"
See https://github.com/jakubpawlowicz/clean-css/issues/595#issuecomment-110272773

[2015-06-14 14:57] #595 closed

[2015-06-14 14:57] #601 closed

[2015-06-14 14:57] #602 closed

[2015-06-14 14:58] jakubpawlowicz commented on #595
Fixed in 3.3.2.

[2015-06-14 14:59] jakubpawlowicz commented on #521
@azinasili fixed in 3.3.2

[2015-06-15 05:01] jakubpawlowicz commented on #594
@StuartMorris0 see https://github.com/murphydanger/gulp-minify-css/issues/106#issuecomment-111861188

[2015-06-15 16:26] cvillanujr commented on #595
Gave this another try by updating grunt-contrib-cssmin but no luck. IE9 hacks still getting removed.

[2015-06-15 16:30] jakubpawlowicz commented on #595
grunt plugin is apparently still at version 3.1.x - I've opened an issue so it hopefully gets fixed soon: https://github.com/gruntjs/grunt-contrib-cssmin/issues/228

[2015-06-15 16:33] cvillanujr commented on #595
Thanks.

[2015-06-15 18:26] hostep opened #603 "New bug with IE backslash hack in clean-css 3.3.2"
Hi

In clean-css 3.3.1 this works:
[code]

After updating to clean-css 3.3.2, the IE hack is being removed:
[code]

Thanks!

[2015-06-15 18:40] hostep commented on #603
Just a small update.

I can get it back by running:
[code]

But since the hack targets IE 9 and lower and your default compatibility targets IE9 and up I think it should work without the compatibility flag.
Or am I missing something here?

[2015-06-16 05:22] jakubpawlowicz commented on #603
@hostep If you need that hack in IE9 then please use `--compatibility '*,+properties.ieSuffixHack'` for the moment. The reason it's removed now is because of #602, so your code should have broken much earlier than in 3.3.2, but it didn't because that case was handled incorrectly.

[2015-06-16 06:41] jakubpawlowicz commented on #603
On the second thoughts I think you are right - it's rather counter intuitive to have properties.ieSuffixHack set to false by default since clean-css is IE9+ by default. I'll change it to true in 3.3.3.

[2015-06-16 06:52] hostep commented on #603
Yes, I agree. Thanks!

[2015-06-16 07:48] #603 closed

[2015-06-16 07:48] jakubpawlowicz commented on #603
:+1: Fixed in 3.3.3.

[2015-06-16 08:01] hostep commented on #603
Tested and it works as expected again.

Thanks!

[2015-06-16 08:02] jakubpawlowicz commented on #603
Thank you!

[2015-06-17 06:31] LeoYuan opened #605 "set roundingPrecision to -2, then the rounding process will be ignored."
![image](https://cloud.githubusercontent.com/assets/1195765/8200857/4cff2cf2-14fd-11e5-8ab2-a5a104ad4072.png)

the above doc is wrong, actually, roundingPrecision need lte -2 will do the trick~

[2015-06-17 06:42] jakubpawlowicz commented on #605
I think you are looking at some old version, as this is the most recent code: https://github.com/jakubpawlowicz/clean-css/blob/f9cb571304c417d3179a3c8c45aa405fca13d6bd/lib/selectors/optimizers/simple.js#L33

[2015-06-17 06:54] LeoYuan commented on #605
I'm using 2.2.28, but the new version seems have the same bug,

[code]

[2015-06-17 06:56] jakubpawlowicz commented on #605
Hmmm, this is what I get with 3.3:

[code]

It could have been a bug in 2.2.x though.

[2015-06-17 08:17] LeoYuan commented on #605
I made a quick fix, https://github.com/jakubpawlowicz/clean-css/pull/606

[2015-06-17 08:31] jakubpawlowicz commented on #605
@LeoYuan I don't have any plans on releasing further 2.2 udpates anymore. Any chance for you to move to 3.x instead?

[2015-06-17 08:43] LeoYuan commented on #605
Maybe later, but not this time, 'cause everytime I upgrade the build process, more than 10 core products will have to be checked very carefully, it would be a pain for the guys who maintain them.
**so if not necessary, I would prefer keeping things as they are.**

Actually, I already set `roundingPrecision` to -2 to solve my problem, but not sure anyone else run into this situation later~

[2015-06-17 16:58] symbiat commented on #569
We're using it in the build process for our Ionic app. So basically it gets used in a script during a particular stage when building. Does that help ?

[2015-06-17 20:06] Lomacar opened #607 "media queries don't merge"
Why doesn't clean-css merge the media queries in this case? I have tried various options to no avail.

        #bx-pager img {
            display: inline-block;
            width: 92px;
            vertical-align: middle
        }

        @media (max-width: 768px) {
            #bx-pager img {
                display: none
            }
        }

        #bx-pager span {
            display: in

[2015-06-18 06:27] jakubpawlowicz commented on #569
Correct me if I'm wrong but isn't that what npm is supposed to do? Bower for frontend asset dependencies and npm for build tools etc.

[2015-06-18 06:31] jakubpawlowicz commented on #605
Sure, it makes sense why you are hesitant to upgrade. If you don't mind I would close your PR and instead change 2.2 docs to recommend people to set the value to -2 if they want to avoid rounding. Thoughts?

[2015-06-18 06:32] jakubpawlowicz commented on #607
In this case we'd be safe to do so! I'll add it in 3.4.

[2015-06-18 09:07] LeoYuan commented on #605
NP, go ahead~

[2015-06-18 09:07] #605 closed

[2015-06-18 12:05] adam-lynch opened #608 "Breaks custom protocol"
See https://github.com/murphydanger/gulp-minify-css/issues/107

[2015-06-18 12:10] adam-lynch commented on #608
Hmm... :suspect:

- gulp-minify-css@1.1.0 depends on ^3.1.5
- gulp-minify-css@1.1.1 depends on ^3.2.6

[2015-06-18 12:14] shinnn commented on #608
@adam-lynch There is almost no difference between `^3.1.5` and `^3.2.6` since both installs clean-css v3.x. https://nodesource.com/blog/semver-tilde-and-caret

[2015-06-18 12:26] jakubpawlowicz commented on #608
I don't think clean-css ever supported custom protocols, but can take a look into it.

[2015-06-18 12:34] jakubpawlowicz commented on #605
Done, https://github.com/jakubpawlowicz/clean-css/commit/e7feafa63f300111116e8088583fdd2cc9f4f14c  - thanks! :+1:

[2015-06-18 13:39] adam-lynch commented on #608
@jakubpawlowicz :+1: but hold on...  https://github.com/murphydanger/gulp-minify-css/issues/107#issuecomment-113159594

[2015-06-18 13:59] shinnn commented on #608
It seems that clean-css breaks custom protocols only when the file path is provided.

### Setup

[code]

### Test case 1: Without providing CSS file path :o:

#### Script

[code]

#### Output

[code]

### Test case 2: Providing CSS file path :x:

#### Script

[code]

#### Output

[code]

[2015-06-19 07:36] jakubpawlowicz commented on #608
@shinnn thanks for an (usual) outstanding bug report! The fix is coming.

[2015-06-19 09:38] aaarichter opened #609 "debug option & debug option documentation outdated"
in the readme section `How to use clean-css programmatically?`

the `debug` option mentions a file `test/custom-test.js` which does not exist.
When running clean-css within stylus-contrib-cssmin with the debug option I'm not getting the stats but `Inlining local stylesheet`

That doesn't seem right

[2015-06-19 09:40] #609 closed

[2015-06-21 14:50] jakubpawlowicz commented on #598
@ezraroi any updates?

[2015-06-22 06:06] ezraroi commented on #598
sorry, I had few private issues in the last 2 weeks. Will update soon I hope

[2015-06-22 06:09] jakubpawlowicz commented on #598
Sure, no sweat, just wanted to make sure it's still an issue.

[2015-06-22 07:48] erquhart opened #610 "'border: inherit' becomes 'border: inherit inherit inherit'"
Seems to be the same issue as #563, but opened a separate issue since that bug was apparently fixed.

[2015-06-22 07:48] erquhart commented on #610
Also, I'm using v3.3.3.

[2015-06-22 08:41] jakubpawlowicz commented on #610
I'll have a look!

[2015-06-22 10:38] ezraroi commented on #598
yes, still an issue, broke my project until i turned it off

[2015-06-22 11:29] jakubpawlowicz commented on #598
Sorry to hear, but let's fix it.

[2015-06-23 06:02] #599 closed

[2015-06-23 13:26] zeakd opened #611 "not to strip quotes in url"
@font-face {
      font-family: "BebasNeue";
      font-weight: bold;
      font-style : normal;
      src: url('/fonts/BebasNeue Bold.eot');
      src:
      url("/fonts/BebasNeue Bold.woff") format("woff"),
      url("/fonts/BebasNeue Bold.otf") format("opentype");
    }

Hi.
I write this code and it works, but when I strip quotes like this

    @font-face {
      font-family: "BebasNeue";

[2015-06-23 14:22] jakubpawlowicz commented on #611
Can you provide an example page (jsfiddle, etc) so it can be retested in different browsers? In which browser it fails btw?

[2015-06-23 16:49] Lomacar commented on #607
Great! Because I have hundreds of these in my code for any given website, because I use LESS/SASS mixins to declare media queries inside the selectors. I find it better to organize responsive code this way. The only downside is hundreds of repetitive media queries, which I assumed CSS optimizers could clean up. But none that I have tried do!

[2015-06-24 02:00] zeakd commented on #611
I made test in github.io because of font file

#### common index.html
[code]

#### font-face-example1 style.css (success)
##### http://zeakd.github.io/font-face-example1/
[code]
#### font-face-example2 style.css (fail)
##### http://zeakd.github.io/font-face-example2/
[code]

I don't know why example2 doesn't send font get request. I knew quote in url is option...
So I want to leave these quotes. t

[2015-06-24 08:26] #610 closed

[2015-06-24 08:26] #611 closed

[2015-06-24 08:27] jakubpawlowicz commented on #611
Fixed in 3.3.4 - it was a combination of URL rebasing, rewriting, and whitespace which there were no test for.

[2015-06-24 08:28] jakubpawlowicz commented on #610
Fixed in 3.3.4!

[2015-06-24 10:58] zeakd commented on #611
Thanks!

[2015-06-24 13:09] jakubpawlowicz commented on #611
:+1: for reporting!

[2015-06-25 06:14] jakubpawlowicz commented on #589
That's a bug in stylus, see https://github.com/stylus/stylus/issues/1763#issuecomment-107376435

I'm closing it on this side.

[2015-06-25 06:14] #589 closed

[2015-06-25 15:26] crowne opened #612 "@imports don't work behind a proxy"
I'm using gulp-minify-css to minify a css comprised of bootswatch-spacelab + bootstrap + custom-stuff.
It compiles fine when I have direct internet access, however when I am behind the corporate proxy it fails with the error below.
npm, bower & curl all work OK behind the proxy, so the issue is not with my shell.

[17:06:14] Error: Broken @import declaration of "http://fonts.googleapis.com/css?fam

[2015-06-25 16:38] jakubpawlowicz commented on #612
You may need to specify some proxy options, see:
https://github.com/jakubpawlowicz/clean-css/blob/master/test/protocol-imports-test.js#L380
https://nodejs.org/api/http.html#http_http_request_options_callback

the `inliner: { request { ... } }` hash to clean-css API is the same as node.js' options hash (see 2nd link).

[2015-06-25 19:49] AndreyAntipov opened #613 "Slow advanced optimization"
Processing of css file with ~15k lines with advanced optimization option takes about 25-30 sec.

__Benchmarking__

With advanced optimization:
[code]

Without:
[code]

*Hardware:*
CPU 2.3 Ghz Core i7
RAM 16 gb

What could be the reason of such slow process of optimization?

[2015-06-25 20:15] jakubpawlowicz commented on #613
Could you try with restructuring: false option? It's the slowest part and may have some bad performance characteristics.

[2015-07-01 06:22] jakubpawlowicz commented on #613
@AndreyAntipov any luck with restructuring off?

[2015-07-01 06:23] jakubpawlowicz commented on #612
@crowne did you have a chance to give it a try again?

[2015-07-01 08:33] jakubpawlowicz commented on #593
I did some investigation and it does not seem to be a clean-css issue. I managed to solve your problem by passing `sourceMapInlineSources: true` to less.js clean-css plugin, see https://github.com/Splurov/lpcc-error/pull/1/files

If you take a look at https://github.com/jakubpawlowicz/clean-css/blob/master/lib/stringifier/source-maps.js#L14 you'll see it can't be a problem with multiline comments

[2015-07-01 12:44] #608 closed

[2015-07-01 12:44] jakubpawlowicz commented on #608
Fixed in 3.3.5.

[2015-07-01 13:57] lukeapage commented on #593
The problem is that something is adding $stdin as a source.

accord is then trying to read it...

![stdin](https://cloud.githubusercontent.com/assets/309321/8456126/3f391678-2001-11e5-8e41-1e04c7bd9faf.png)

which errors.

clean-css shouldn't be adding a `$stdin` file as a source, so either clean-css or something it relies on or the way it is called is at fault. I'll continue investigating.

[2015-07-01 14:07] lukeapage commented on #593
and it seems that when clean-css is adding the tokens, the background token, just after the multi-line comment is missing the source property.

![missing-source](https://cloud.githubusercontent.com/assets/309321/8456307/84c8ed8e-2002-11e5-8520-f2a89b39e814.png)

Now the question is.. is that less malforming a sourcemap input or clean-css ?!

[2015-07-01 14:28] jakubpawlowicz commented on #593
Thanks @lukeapage! The interesting bit is that if I run it from CLI there's no reference to $stdin but to both CSS and Less files.

I'll give it a try later on.

[2015-07-01 14:59] lukeapage commented on #593
I think this is the problem
[code]

less uses just `\n` I think - or anyway the source you are getting only has `\n` in it...

No-one has just `\r` so I would have thought you can just use `\n` ?

[2015-07-01 15:11] lukeapage commented on #593
Will leave it to you.. changing the line break didn't fix the problem, though it did change things that looked important :confused:

[2015-07-02 12:05] adam-lynch commented on #608
:+1:

[2015-07-03 09:33] AndreyAntipov commented on #613
@jakubpawlowicz Yes, it's work significant faster (consumed over ~__2/3__ of all time ) but still require a quite more time than without advanced optimisations. So i decided to use this optimisations only on production final stage. Thank you for the help.

Stats with disabled restructuring:
[code]

[2015-07-03 12:10] africanmatt opened #614 "Attribute selector quotation marks."
I found a bug while working with the gulp wrapper [minify-css](https://www.npmjs.com/package/gulp-minify-css)

If you stack attribute selectors it seems to remove the quotation marks on the first selector. This is true for both single quotations ' ' and double " ".

eg: ```[id*="google_ads"][height="50"]```
compiles to: ```[id*=google_ads][height="50"]```

[2015-07-05 11:17] michailw commented on #469
I had discovered this issue about week ago, so I think happens again.

[2015-07-05 13:33] ezraroi commented on #598
Original CSS Plunker: http://plnkr.co/edit/7lwoNsLZkHGZnJBsJ6fQ?p=preview
Minifed CSS Plunker: http://plnkr.co/edit/EtylR4dw5TUuZiWuuARx?p=preview

You can see that in the minifed version there are black borders between columns.

This how I minifed the css file:

[code]

[2015-07-06 09:18] jakubpawlowicz commented on #469
@michailw Could you please share more info as described in https://github.com/jakubpawlowicz/clean-css/blob/master/CONTRIBUTING.md

[2015-07-06 09:31] michailw commented on #469
Sorry, I haven't read this document before.

This is code which I try to run:

[code]

This is console output:

[code]

When I comment lines `.pipe(sourcemaps.init())` and `.pipe(sourcemaps.write('./'))`, it works.

npm-debug.log:

[code]

[2015-07-06 12:20] mzovadia opened #615 "Omitted Declaration"
Not sure if this is an issue or an option setting I'm not aware of. In the following rule, for example,

.rule {
padding: 1.56em;
padding-bottom: .56em;
}

The minified result omits the first padding declaration, leaving only "padding-bottom: .56em". Is there a way to make the minified version include both padding declarations? Thanks.

[2015-07-06 12:46] #613 closed

[2015-07-07 10:38] unlok opened #616 "Broke rules after optimization"
There are two independent files:
[code]
and
[code]

The files can used independently and together. And when it together, result is broken rules:
[code]

First occurs setting of sub-rule `border-right-width` but then occurs settings of `border` and it override sub-rule.

It must be as follows:
[code]

[2015-07-07 10:53] mzovadia commented on #615
OK, so I figured out that setting the option advanced:false solves the issue, but now I don't see any css rules when I try to inspect an element in Chrome's dev tools.

[2015-07-07 13:15] mzovadia commented on #615
Turned out to be a Chrome thing. Closing . . .

[2015-07-08 05:31] yPangXie opened #617 "Properties of background are odd?"
[code]

I use two "background" and the output is(use default settings)
[code]

The output of background is weird.

[2015-07-08 13:00] jsw0528 commented on #150
`background:0;` is also ok.

[2015-07-08 14:17] crowne commented on #612
Hi Jakub,

Thanks for the **inliner**, I've manged to get it working by passing the following options to the gulp-minify-css constructor, which passes it on to clean-css.

    var minifyCssOptions = {
    		inliner: {
    			request: {
    				  hostname: "localhost",   // I'm running a cntlm proxy which relays to the corp proxy
    				  port: 3128,
    				  path: "http://fonts.googleapis.com/cs

[2015-07-10 06:52] jakubpawlowicz commented on #612
Thanks @crowne for giving it a try and coming back with a working solution. I've just updated the readme pointing to this use case - https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-programmatically

As a matter of fact I think clean-css should prefill `path` and `headers.Host` automatically as in this case your inlining requests will be tied to a single remote location. Thoughts?

[2015-07-10 06:57] jakubpawlowicz commented on #617
There has to be a bug somewhere in advanced optimizer - you can use `--skip-advanced` for the time being while I fix it.

[2015-07-10 06:59] jakubpawlowicz commented on #615
:+1: it definitely works with both advanced turned on and off - just tested on the latest 3.3.

[2015-07-10 14:04] mzovadia commented on #615
Oh, OK. I should have been a little more explicit in detailing the how the rule is written in the Sass file, as it appears to make a difference:

.rule {
  padding: $general-component-padding;
  padding-bottom: $general-component-padding - 1em;
}

So, with advanced turned on, the first padding declaration is omitted from the minified file. Both declarations are present when advanced is turned off.

[2015-07-10 14:43] jakubpawlowicz commented on #615
Please correct me if I'm wrong but Sass is a pre-processor so at the minification step both of these should have numeric values rather than variables, right?

[2015-07-10 15:08] mzovadia commented on #615
Yes, the variables have numeric values at the minification step. Thus, the unminified CSS file contains:

.rule {
padding: 1.56em;
padding-bottom: .56em;
}

The result following minification of this file with advanced turned off is:

.rule {padding:1.56em;padding-bottom:.56em}

With advanced turned on, it is:

.rule {padding-bottom:.56em}

[2015-07-10 16:09] jakubpawlowicz commented on #615
Can you find out which version of clean-css do you use with `npm ls`?

[2015-07-10 16:55] yPangXie commented on #617
Thanks. I've added this param to my combo-parse module.

[2015-07-10 16:55] #617 closed

[2015-07-10 17:01] jakubpawlowicz opened #618 "Add correct processing of -webkit-image-set"
[code]

See #617

[2015-07-10 17:02] jakubpawlowicz commented on #617
I've created a new issue ^ to make sure it gets implemented.

[2015-07-10 17:24] mzovadia commented on #615
Yup, I'm using 3.3.5

OK, I think I've tracked down the issue. I have a clearfix mixin, which I omitted from the example in order to keep things tidy. it looks like this:

@mixin clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
  /* for IE 7 */
}

So, this is what the whole rule looks like, pre-minification, with the clearfix:

[2015-07-10 18:10] Djspaceg opened #619 "restructuring combines selectors that ought not be combined"
It seems that during restructuring/optimization, some selectors are getting stacked-up into a selector-set which is causing the whole block to be ignored.

Restructured/optimized output:
[code]
Approximation of original CSS:
[code]

In this specific case, the non-vendor-prefixed "standards" version is being grouped with the element+class selector, which is causing browsers who don't support the ps

[2015-07-13 04:54] mbenford opened #620 "Font property incorrectly minified"
I have one stylesheet containing the following rule:

[code]
I've been using version 3.1.0 to minify that stylesheet, and everything's been working just fine.

Today I tried to upgrade to version 3.3.5, but had to go back to 3.1.0 because the aforementioned selector was being minified as

[code]

instead of

[code]

It seems that the minifier is considering `normal` to be the font weight instead o

[2015-07-13 08:02] crowne commented on #612
Hi Jakub, I like that idea, luckily I have only one external import. If clean-css could analyze each import URL and set the properties accordingly then that would be useful, especially for those executing behind  a proxy.

[2015-07-13 12:42] jakubpawlowicz commented on #614
@africanmatt Sorry for delay - I'm catching up with emails now.

In this case it happens for a reason as a numeric values cannot be unquoted safely.
Btw, which browser versions do you target?

[2015-07-13 12:45] jakubpawlowicz commented on #598
@ezraroi thanks for sharing, I will give it a try and get back to you.

[2015-07-13 14:48] ezraroi commented on #598
@jakubpawlowicz np

[2015-07-13 15:54] jakubpawlowicz commented on #612
:+1: let's stage it for 3.4

[2015-07-14 09:27] edwardcoolson opened #621 "Option to just strip comments"
Hi Everybody!

I'm new to clean-css it seems great but don't have the option to just strip comments **without any other modification of the original css file**. I tried all these options -b, --skip-advanced, --skip-agressive-merging, --skip-media-merging, --skip-restructuring but with no help -- my output css file was still compacted in some way.

Thank you.

[2015-07-14 09:33] #620 closed

[2015-07-14 09:34] jakubpawlowicz commented on #620
@mbenford thanks for a :100: bug report - it's fixed in 3.3.6 now!

[2015-07-14 11:00] jakubpawlowicz commented on #621
clean-css has no option to remove just the comments. Any reason for not using `--skip-advanced`?

[2015-07-15 00:38] coreyworrell commented on #619
Noticing this happening as well, and this should never happen because of specificity. Later rules override earlier rules, so if a rule is moved above another, things will be overridden incorrectly.

[2015-07-15 01:02] Djspaceg commented on #619
Sure, restructuring could certainly cause what you describe, @coreyworrell, but this issue isn't regarding moving the rules around (there's a different ticket for that). This one is specifically about combining multiple selectors, one of which is an incompletely supported :pseudo-class, which invalidates the normal class it gets bundled with on browsers that don't support it. -- Apologies if you a

[2015-07-15 01:06] coreyworrell commented on #619
You're correct @Djspaceg, I was wrong to use "rules" though, I did mean combining multiple selectors. In my case it moved a selector up in the file, causing it to not override another selector anymore. Sorry for the confusion.

[2015-07-15 01:12] Djspaceg commented on #619
No worries @coreyworrell! Thanks for the update! :+1:

[2015-07-15 05:54] africanmatt commented on #614
```$.autoprefixer('last 2 versions', 'Android 4', 'ie 9')```

[2015-07-15 06:40] jakubpawlowicz commented on #614
Yeah, it needs to stay quoted as even the most recent browsers don't like unquoted values starting with a number.

[2015-07-15 06:40] #614 closed

[2015-07-15 06:46] jakubpawlowicz commented on #619
Thanks @Djspaceg @coreyworrell for investigating it.

clean-css has a regex for special selectors, see: https://github.com/jakubpawlowicz/clean-css/blob/master/lib/utils/compatibility.js#L23

As you can see there's `:fullscreen` on the list and according to https://developer.mozilla.org/en-US/docs/Web/CSS/:fullscreen - `The W3C proposal uses the single word :fullscreen` - I haven't tested yet with

[2015-07-15 15:28] kaigon commented on #482
I'm running into this issue regardless of quotes.

```Font: 'Crimson';``` becomes ```Font: #dc143c;```
Double-quotes also yields the same result.

[2015-07-15 15:30] jakubpawlowicz commented on #482
@kaigon what version of clean-css do you run? `npm ls` is your friend.

[2015-07-15 16:06] kaigon commented on #482
**3.3.6.** However, I'm dumb and just realized I'm using another process to autoprefix / etc, and it's also removing the quotes (which cssmin then converts to hex).

Sorry. Can't believe how long I wasted trying to troubleshoot that.  :\

[2015-07-15 16:07] Djspaceg commented on #619
I'll update our _clearly_ invalid CSS and all should be well. Pretty sure it was written years before the official W3 spec was ready. Thanks for pointing me in the right direction.

I am fairly confident now that `:full-screen` is not valid. I checked Blink-beta and as of v44, it still opts for the `-webkit-` prefix and doesn't seem to pick up either the rule for `:fullscreen` or `:full-screen`. I

[2015-07-15 16:07] #619 closed

[2015-07-15 16:13] jakubpawlowicz commented on #482
Autoprefixer removing quotes does not sound good...

[2015-07-15 16:15] jakubpawlowicz commented on #619
:+1: sounds good, I've never seen the unprefixed one used yet

[2015-07-15 16:15] edwardcoolson commented on #621
I'm trying to use clean-css as post processing tool after sass in development workflow (automatically on file save) to just remove comments. This is because sass is not able to remove /\* \*/ comments that I use. I have pretty small file size so I don't concern about minifying (the css is deployed on server as is). Instead, I wish the resulting css will be readable.

Yes, I could use single-line c

[2015-07-15 16:42] jakubpawlowicz commented on #621
:+1: makes sense - if that's an option you can always use `keepBreaks` switch which keeps breaks between selectors (all properties are in one line though) - https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-programmatically

Otherwise you'd need to wait for #209 for a beautify option.

[2015-07-15 16:52] kaigon commented on #482
I was using the PostCSS grunt plugin to load a couple of processors... one was autoprefixer, the other was another (now redundant) css minifier. I just didn't do a good enough job of cleaning up my gruntfile once I switched to cssmin. (and I'm still pretty new to grunt / npm, so that's not doing me any favors).

[2015-07-15 18:51] edwardcoolson commented on #621
Okay. Until that happy time will live with comments.

[2015-07-15 21:32] coreyworrell commented on #619
This still leaves my issue open though.

Example, the following:

[code]

generated:

[code]

Which now leaves `<a class="one--alternate">` being red still.

[2015-07-15 21:38] Djspaceg commented on #619
It seems like for this issue, the combined rule could safely be relocated to below/after the last rule-set, that is... unless the units are dependent on the previous ones, as in the case of `em` measurements. But in the case of `em`, the new rules would at least be _more_ correct than having the combined set be above each of the original rule-sets.

[2015-07-15 21:40] coreyworrell commented on #619
@Djspaceg yes, but even if the combined rules are later, then you have `.component` possibly overriding something that it shouldn't. Selector order should never be changed.

[2015-07-15 21:50] Djspaceg commented on #619
@coreyworrell I see your point. But, if that's true, you could never use reconstructing. It has to put the rules somewhere. Maybe the reconstructing rule should only be used when it doesn't adversely affect your source? Though this could be really tedious to determine.

[2015-07-15 21:58] coreyworrell commented on #619
@Djspaceg Right, that's what I'm getting at, there should never be any reconstructing. I don't think there's any way for a computer to know a better place to merge those selectors than the way that I authored them without adversely affecting something else.

[2015-07-15 22:06] Djspaceg commented on #619
Well, technically the browsers have to handle the inheritance at some point, so it could be possible, however basically impossible through static-analysis. The browser is a "computer", but it just has all of the possible variables in its brain. clean-css couldn't even begin to deal with the runtime implications of rearranging the code, or even when to not.

[2015-07-15 22:09] coreyworrell commented on #619
Yes, but the browser isn't rearranging anything, its reading what you gave it. Bottom line, reconstructing CSS isn't the responsibility of an optimizer, in my opinion. Anyways, I'll use `--skip-advanced` and not worry about it I guess.

[2015-07-15 22:15] coreyworrell commented on #616
See #619 as well.

[2015-07-16 05:22] jakubpawlowicz commented on #621
:+1: I'll ping you when #209 is out.

[2015-07-16 05:22] #621 closed

[2015-07-16 05:30] jakubpawlowicz commented on #616
This is a bug :+1:

[2015-07-16 05:53] jakubpawlowicz commented on #619
@coreyworrell yeah, restructuring is a bit tricky, and without bigger context it's hard to get it right.

Re your issue here's the output I get with 3.3.6:

[code]

[2015-07-16 06:09] coreyworrell commented on #619
Okay, may be a null issue now then, as I was still on 3.2.8 when I was getting that result. My fault for not updating before this. Thank you very much for checking it out though and confirming this is no longer happening.

[2015-07-16 08:36] jakubpawlowicz commented on #615
Thanks for coming back, I'll give it another look.

[2015-07-16 09:14] jakubpawlowicz commented on #482
Cool, no problem. I'm glad you sorted it out. :+1:

[2015-07-16 20:34] smschrader commented on #149
There is an issue with how clean-css "interprets" the short hand css font property still.
For example in my case the shorthand
[code]
got converted to
[code]
setting

[code]

had no effect either.

[2015-07-16 23:41] aarr0n commented on #607
Is this working? I'm using [gulp-minify-css](https://github.com/murphydanger/gulp-minify-css) and pass the `mediaMerging: true` option along, but the media queries aren't combined.

[2015-07-18 05:13] XhmikosR commented on #149
@GoalSmashers @jakubpawlowicz: the font minification should take into account the case where `line-height` is set to `normal`.

[2015-07-20 12:34] jakubpawlowicz commented on #149
I can't see this error happening in any of the latest 3.x branches. Which version do you use, @smschrader?

[2015-07-20 12:47] XhmikosR commented on #149
Indeed, I can confirm this doesn't happen with the latest version.

[2015-07-20 21:10] michaelerobertsjr opened #622 "Not recognizing border shorthand / longhand notations as expected with pseudo classes"
Here is a link to our relevant CSS:
https://gist.github.com/michaelerobertsjr/a6e0408f843380f2c3f5

When we do a diff of the final output using minified vs not minified less builds we've noticed that the order of the pseudo classes and grouping is not done the way we expected (minified on the right):
![diff](https://cloud.githubusercontent.com/assets/4172887/8787207/ae46b5d0-2ee7-11e5-9310-2da2baf

[2015-07-20 21:53] michaelerobertsjr commented on #622
We have discovered a couple of things.  1) This probably was not a recent change, but it may have occurred further back and we just did not notice the change when gulp-minify was updated to use the latest clean-css.

We can turn off restructure and it fixes this issue, but it results in a much larger file size. Aprox 50% file size increase with restructure:false.

[2015-07-20 23:23] markmiro opened #623 "Some properties aren't getting merged into a single selector"
[code]

Becomes:

[code]

Expected:

[code]

[2015-07-21 06:23] jakubpawlowicz commented on #623
Merging flex properties is hard due to browser inconsistencies, different property names etc, so it's turned off so far, but it'd be great to fix it at some point.

[2015-07-21 06:24] jakubpawlowicz commented on #613
Yup, running it in production build only would make better sense. :+1:

[2015-07-21 06:28] jakubpawlowicz commented on #469
@michailw sorry, but I didn't have a chance to get back to you sooner. I'll open it as a separate issue as it's clearly sth different than the original one.

[2015-07-21 06:28] jakubpawlowicz opened #624 "Investigate source maps and restoring issues"
See https://github.com/jakubpawlowicz/clean-css/issues/469#issuecomment-118785594

[2015-07-21 15:57] smschrader commented on #149
I'm using **gulp-minify-css** which is at
[code]

Which has a dependency of **clean-css**
[code]

My current version in the build is
[code]

[2015-07-22 06:36] jakubpawlowicz commented on #149
So that's the latest version and it should be OK. I wonder if there's anything else in your gulp chain that is breaking it.

[2015-07-22 07:10] jakubpawlowicz opened #625 "Add size unit optimizations"
Perform unit optimizations where a more concise output is supported, see:

* http://cssshrink.com/velocity/#57
* https://github.com/stoyan/cssshrink/blob/master/lib/visitors/time.js
* https://github.com/ben-eb/postcss-convert-values

[2015-07-22 07:31] jakubpawlowicz commented on #622
@michaelerobertsjr This is a duplicate of #616 - stay tuned for a fix I'm working on.

[2015-07-22 07:31] #622 closed

[2015-07-22 18:21] mattdistefano opened #626 "Appearance of @import in comment breaks subsequent @font-face"
This is on 3.3.6.

[code]

Is minified to:

[code]

Note that if the `@import` is a real `@import url();` that's just been commented out, it seems to minify fine.

Seems similar to #590.

[2015-07-23 05:42] jakubpawlowicz commented on #626
So I've just run this on 3.3.6:

[code]

Do you use clean-css directly? It may be a more complicated case.

[2015-07-23 09:10] tavriaforever commented on #616
:+1:

[2015-07-23 10:42] lukeapage commented on #593
@jakubpawlowicz do you want to re-open this so its not forgotten? or did you get somewhere?

[2015-07-23 13:25] jakubpawlowicz commented on #593
Yeah, let's reopen it.

[2015-07-23 17:09] mattdistefano commented on #626
Well this is interesting...

test.css:

[code]

Piping into cleancss produces the expected result:

[code]

But passing the file name as an argument gives the erroneous output (FYI this is the same behavior I get through the gulp plugin):

[code]

Note that the comment has to be just `@import` - if it's `@import url()` both of the above work fine.

[2015-07-24 05:47] jakubpawlowicz commented on #626
Would you be able to share the file (my email is in package.json)?

[2015-07-24 11:27] LeleDev opened #627 "Remove percent breaks keyframes"
Clean-css removes the percent symbol after 0 in keyframes, thus breaking animations.

Before:
[code]
after:
[code]

[2015-07-24 12:55] jakubpawlowicz commented on #627
It was a problem at some point but it's fixed in the latest version of any of 3.x branches:

[code]

You can check your clean-css version via `cleancss -v` or `npm ls clean-css` if use it via a plugin.

[2015-07-24 12:55] #627 closed

[2015-07-24 13:06] jakubpawlowicz commented on #616
The fix is on 3.3 branch so you can give it a try.

If it's all good I'll release it on Tuesday when back from a short break.

[2015-07-24 14:10] tavriaforever commented on #616
Wow, thanks! We are going to try)

[2015-07-24 14:44] LeleDev commented on #627
My version is 2.2.23, thank you

[2015-07-24 16:39] jakubpawlowicz commented on #607
Please make sure to use the latest clean-css and that your media rules are actually mergeable.

[2015-07-25 08:44] silverwind opened #628 "__ESCAPED_SOURCE_END_CLEAN_CSS__"
I'm seeing this string inserted at the end of my output. Unfortunately I can't easily provide a example to reproduce, but I'm wondering if you could tell me the conditions under which it is inserted. I assume it's meant to be removed from the final output?

[2015-07-25 14:56] Mottie commented on #628
It looks like it's from here - [/lib/text/escape-store.js](https://github.com/jakubpawlowicz/clean-css/blob/master/lib/text/escape-store.js#L4)

[2015-07-27 11:51] mzovadia commented on #615
Thanks, Jakub. Have you had a chance to look at this? Please let me know if you need clarification on anything.

[2015-07-28 08:10] LeJared opened #629 "Broken Background after optimization"
This Rule
[code]
gets optimized to
[code]
expected result
[code]

The first one is valid CSS and sometimes the result of CSS generators. For example Firebug will generate this line, when background is set to color only.

[2015-07-28 08:54] jakubpawlowicz commented on #628
Basically speaking it's a marker for every file that is processed by clean-css, so we can track sources properly.

In fact it's added by SourceTracker object, which is instantiated here - https://github.com/jakubpawlowicz/clean-css/blob/d21f1e0808dfc1a658f745cad93e8b74466ffe73/lib/clean.js#L78

It should be removed when serializing the tokenized source. Let's find out why it's not.

[2015-07-28 08:55] jakubpawlowicz commented on #615
Not yet as I was out for a while. But I will.

[2015-07-28 16:24] silverwind commented on #628
Will try to provide a reduced test case. Maybe the issue is related to special comments. Looking at the [removal regex](https://github.com/jakubpawlowicz/clean-css/blob/4fed29d8989494ef423163bacfe75d0472a6ff0a/lib/utils/source-tracker.js#L25-L29), I'm wondering why it isn't multiline (flags `gm`).

[2015-07-28 16:43] gera2ld opened #630 "Broken prefixed flex"
The code below is broken by clean-css:
[code]

The expected output is:
[code]
`-ms-flex` requires a unit to be given for the 3rd argument even if the value is zero, while `flex` accepts just `0`.

But the actual result which breaks layout in IE 10 is like this:
[code]

[2015-07-28 17:57] Mottie commented on #628
Ok, I have a reduced test case, and I don't think it's clean-css' fault.

If we start out with this css:

[code]

Our grunt build removes everything after the grunt build comment. So we end up with this after css minification

[code]

The reason we have a trailing comma is because this version is posted to userstyles and the `/*[[syntax-theme]]*/` is replaced by user selected styles. We include th

[2015-07-28 19:57] EvanCarroll commented on #377
+1

[2015-07-28 19:58] EvanCarroll commented on #377
There are no more examples. I'm not sure why this got closed. I agree the docs on relativeTo, root, and co are pretty badly documented.

[2015-07-28 20:31] silverwind commented on #628
Indeed the issue is with our invalid CSS. We shall fix that.

@jakubpawlowicz here's a minimal example to reproduce:

[code]

[2015-07-29 07:24] #616 closed

[2015-07-29 07:24] jakubpawlowicz commented on #616
It's released as 3.3.7 now.

[2015-07-30 07:05] chenxiaochun opened #631 "About css hack"
## the source code

[code]

## after clean-css

[code]

[2015-07-30 08:35] jakubpawlowicz commented on #630
Good catch! It's already fixed on 3.3 branch, I'll release it as 3.3.8 later on.

[2015-07-30 10:42] jakubpawlowicz commented on #631
You need to use `--compatibility ie8` as clean-css works in IE9+ mode by default.

And the `\9\0` is not supported (`\9` is) but if you think it should then please open a separate issue (plus some info why it should).

[2015-07-30 10:42] #631 closed

[2015-07-30 12:20] jakubpawlowicz commented on #628
Thanks guys for tracking it down.

@silverwind - I'll look into handling that case too.

[2015-07-30 12:22] jakubpawlowicz commented on #629
Could you please test if you use the latest version of clean-css? It works fine for me in any of 3.x branches.

[code]

[2015-07-30 13:47] LoicMahieu opened #632 "Google fonts are imported, break HTTPs when protocol relative"
Google fonts `@import` are resolved. Anyway it works when imported. The problem is, you can not keep URLs as protocol relative.

Consider:
[code]
which output:
[code]

You notice that `src` url is in HTTP. It obviously break application when hosted in production, under HTTPs.

My question:
-  Is there a way to blacklist some URL in order to not import them ?
It will keep my url with protocol relat

[2015-07-30 14:13] LeJared commented on #629
If've tested again and found, it only happens when ```--source-map``` option is set.

On Windows i can reproduce this bug with the following line:
[code]
where ```input.css``` contains the example CSS

[2015-07-30 14:21] jakubpawlowicz commented on #629
It does indeed :+1:

[2015-07-31 05:36] JasonBerry opened #633 "Brackets in data URI cause url reducer to parse incorrectly"
This very basic SVG image:

[code]

... when whitespace is stripped and data URI'd correctly becomes:

[code]

When using this data URI as a `background-image`, CleanCSS chokes on the brackets used by the `translate` function and generates malformed CSS by dropping the quotes inside the `url()`.

This happens in the `byUrl` function in the `urls/reduce` module, so specifying compatibility options

[2015-07-31 06:44] jakubpawlowicz commented on #632
That's a good point indeed. The only way to stop it (so far) is to use `--skip-import` switch.

[2015-07-31 06:50] jakubpawlowicz commented on #633
That's a bug then. If possible you can use `--skip-rebase` to prevent it.

[2015-07-31 10:58] LoicMahieu commented on #632
My workaround for now is to set HTTPs for loading font. So on font-face contains https link and it does not break production code.
Obviously I don't think that a good idea to resolve Google font import. Location of the files may changes.

Possible solution:
- Add option for skipping remote import. It will disable fetching of remote `@import` and keep it intact. ?
- Add option for defining exclusio

[2015-07-31 16:11] jakubpawlowicz commented on #632
I'll think of the best approach here, it could be even a combination of those.

Re that unit test, it's from an old version of clean-css when there was no remote importing at all, so all such URLs were kept intact.

Stay tuned for updates!

[2015-07-31 16:26] jakubpawlowicz commented on #377
Well, there's not that much of it in context of build tools, but I don't believe it's the right place to cover those. If you use it via CLI or API then there are plenty of tests out there, see:

* https://github.com/jakubpawlowicz/clean-css/blob/master/test/integration-test.js#L1360
* https://github.com/jakubpawlowicz/clean-css/blob/master/test/binary-test.js#L215

I think some of those should be

[2015-08-01 10:39] widoz commented on #607
I have the opposite issue, using grunt and mediaMergin : false under the cssmin task.
grunt-contrib-cssmin use the 3.3.7 version of clean-css.

[2015-08-04 12:53] Rommeo85 opened #634 "Merged rules with ::placeholder pseudo-selectors broken in v3.3.7"
This one looks similar to https://github.com/jakubpawlowicz/clean-css/issues/561
[code]
Gets merged to:
[code]
which breaks the rule.

Should be:
[code]

[2015-08-05 16:04] jakubpawlowicz commented on #634
We should treat `::placeholder` selector as special too, see https://github.com/jakubpawlowicz/clean-css/blob/master/lib/utils/compatibility.js#L23

[2015-08-05 18:42] H1D opened #635 "zero percentage value minification"
clean-css tend to minify `height: 0%` to `height:0`
But they aren't equal!

Examples:
http://codepen.io/H1D/pen/bdzRJo – before minification
http://codepen.io/H1D/pen/YXBrze – after minification

[2015-08-06 08:19] jakubpawlowicz commented on #635
It's interesting that no one spotted it before! Are you aware of any kind of rules that govern when we can and can't turn `0%` to `0`? Does it apply to `height` only?

[2015-08-06 08:42] #630 closed

[2015-08-06 08:42] #633 closed

[2015-08-06 08:42] #634 closed

[2015-08-06 09:02] rjgotten opened #636 "Property merging breaks for particular property orderings that involve vendor prefixes"
Using a straight up `cleancss .test.css` using clean-css v 3.3.7 from the commandline, there is some very weird behavior going on regarding the merging of properties involving vendor prefixes.

[code]

[code]

As you can see, in the second case the first value `ellipsis` is completely swallowed. The order of input in the second case is likely to occur when processing CSS that was generated by CSS

[2015-08-06 09:12] rjgotten commented on #636
Adding `--skip-agressive-merging` circumvents the issue, btw.

[2015-08-06 11:05] H1D commented on #635
Looks like it depends whether or not selected element has content

[2015-08-06 16:13] DavidOliver opened #637 "TypeError: undefined is not a function (postcss-cli)"
Hello. Thanks very much for `clean-css`!

I'm trying to use `npm run` as a build tool but am getting an error when running `clean-css` with [postcss-cli](https://github.com/code42day/postcss-cli). My `package.json`:

    {
      // ...
      "scripts": {
        "styles": "stylus --include-css --resolve-url --use ./node_modules/rupture -I public/vendor --out public/css app/frontend/styles/*.styl",

[2015-08-06 16:37] jakubpawlowicz commented on #637
Thanks @DavidOliver, glad you like it.

Well, clean-css is not a postcss plugin, and I have no experience using it that way. How do you define the plugins and is clean-css wrapped in any way?

[2015-08-06 16:48] DavidOliver commented on #637
That would explain it! Sorry for the silly mistake; I obviously got myself confused.

I'm now using `clean-css` like this, and it's working:

    "scripts": {
      "styles": "stylus --include-css --resolve-url --use ./node_modules/rupture -I public/vendor --out public/css app/frontend/styles/main.styl",
      "poststyles": "cleancss --keep-line-breaks --s0 --skip-advanced --skip-aggressive-mergin

[2015-08-06 16:48] #637 closed

[2015-08-06 17:04] jakubpawlowicz commented on #637
Sure, no worries! :+1:

[2015-08-06 17:06] jakubpawlowicz commented on #636
Yeah, #290 is pending with fix to this. So far it's all order-dependent so please use the switch for now.

[2015-08-06 17:07] jakubpawlowicz commented on #635
Thanks for looking into this. I wonder if it applies to any other elements, like `width` or `min-(width|height)`.

[2015-08-07 00:06] blixt opened #638 "border short-hand breaks when using rgba(…) color"
This:

[code]

Gets turned into this:

[code]

Note how the `1px` was dropped from the `border` short-hand. This causes the border to have the wrong width.

[2015-08-07 12:22] gregersrygg opened #640 "Breaking change in 3.3.8 (handling data URI with brackets)"
The commit for handling data URI with brackets (2028fad) introduced a breaking change.

[code]

We use clean-css through gulp-minify-css, but I was able to reproduce the bug from command-line (see below).
Operating system: OS X Yosemite (10.10.3)

I tried to write a test that fails, but wasn't able to reproduce the error from a test. But if you create a file with the content below, and run this co

[2015-08-07 12:40] H1D commented on #635
looks like it is:
http://codepen.io/H1D/pen/bdzRJo

[2015-08-07 17:08] jakubpawlowicz commented on #635
That's only for `min-height`, right?

[2015-08-07 17:11] jakubpawlowicz commented on #640
I can see it happening indeed. Without source map it's fine though. Fix is coming.

[2015-08-09 04:40] dosoft opened #643 "3.3.8 regression"
3.3.8 incorrectly processes the following code (processImport: false, restructuring: false, keepSpecialComments: 1):

[code]

The resulting css is:

[code]

Please note on %7B, %7D instead of {, }. Is this a regression after #633?

[2015-08-09 07:01] jakubpawlowicz commented on #643
Apparently there's an edge case there, similarly to #640. Fix is coming soon.

[2015-08-09 10:04] jakubpawlowicz commented on #638
Apparently we miss fuzzy matching for border properties, which, according to spec, come in <width> <color> <style> order. It's not an excuse as browsers support a mixed order too.

[2015-08-09 10:08] #640 closed

[2015-08-09 10:09] jakubpawlowicz commented on #640
Fixed in 3.3.9.

[2015-08-09 10:09] jakubpawlowicz commented on #643
Fixed in 3.3.9.

[2015-08-10 06:12] #643 closed

[2015-08-10 07:39] jakubpawlowicz opened #644 "Add time unit optimizations"
See #625

[2015-08-10 07:46] gregersrygg commented on #640
Wow, that was quick! Thanks :smile:

[2015-08-10 08:32] jakubpawlowicz commented on #640
Sure, anytime :-)

[2015-08-10 08:50] pascalstr commented on #626
Any updates on this @jakubpawlowicz ?

It works with @import url()  because of this regex: /^@import\s+(url\(|__ESCAPED)/i inside reduce.js

We tested this with clean-css directly and always ran into this problem. Using Gulp there is a difference in packages: With gulp-cssmin it works correctly and seems to correct the bug in clean-css. With gulp-minify-css it does not work correctly.

[2015-08-10 14:20] H1D commented on #635
I think is is

[2015-08-10 16:21] jakubpawlowicz commented on #626
@pascalstr Unfortunately I wasn't able reproduce it. Any chance to share a reproducible test case? Can be an excerpt of a CSS file.

[2015-08-10 16:33] mattdistefano commented on #626
Sorry, I haven't had a chance to send over the test file. It's literally just the snippet I included in the earlier comment, though. FYI this is on Windows 8 - haven't tried yet on OS X.

[2015-08-10 17:10] pascalstr commented on #626
@jakubpawlowicz as @mattdistefano mentions earlier:

#####Step 1 create a test.css file with the following content:

[code]

#####Step 2 Then run clean-css

node ..\node_modules\clean-css\bin\cleancss test.css

[2015-08-11 05:48] jakubpawlowicz commented on #626
:+1: I can see it now!

[2015-08-12 11:11] garygreen opened #645 "Problem with mediaMerging"
It doesn't merge the media queries in the below css. If the `body#dashboard .pay-tip` is moved below the last media query it works.

[code]

**Desired output**

[code]

[2015-08-12 15:58] jakubpawlowicz commented on #645
:+1: We should do that!

[2015-08-12 19:36] Raphmedia commented on #643
This fix breaks my CSS.

It incorrectly strips the ending quote from a bunch of background images that use base64.

background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...');

becomes

background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...);

and all of the following declarations are wrongly inlined.

[2015-08-13 06:24] jakubpawlowicz commented on #643
Without a longer CSS excerpt it'd be hard to identify the issue. This is what I get with 3.3.9:

[code]

[2015-08-13 18:30] Minopolis opened #646 "CSS variables in box-shadow are minified incorrectly"
When using a css variable for colour in the box-shadow property, like
[code]
…it is minified to:
[code]
Which is invalid css.

[2015-08-14 05:34] serganus opened #647 "not minifying"
[code]

The output i get is in ```public/layouts/lib/css``` are :
* css file
* min.css file but same size as css and unminified.
* source map.

Am I missing anything?

[2015-08-14 05:51] jakubpawlowicz commented on #647
@serganus I'm afraid I won't be able to help as it may be a plugin related issue - could you open it in (I presume grunt-contrib-cssmin) repo? https://github.com/jakubpawlowicz/clean-css#how-to-use-clean-css-with-build-tools

[2015-08-14 05:51] #647 closed

[2015-08-14 06:11] #625 closed

[2015-08-14 06:11] #644 closed

[2015-08-14 08:38] serganus commented on #647
No problems. Opened the issue here for any visitor with same issue : https://github.com/gruntjs/grunt-contrib-cssmin/issues/236

[2015-08-14 08:58] jakubpawlowicz commented on #647
:+1:

[2015-08-14 14:16] antonmoiseev opened #648 "Polymer's @apply mixins removed after minification"
Input file:
[code]
After I run `cleancss styles.css -o styles.min.css` the output is:
[code]

Is it possible to preserve `@apply` mixins?

[2015-08-14 16:30] jakubpawlowicz commented on #648
Sure :+1:

[2015-08-16 11:28] #612 closed

[2015-08-16 11:30] jakubpawlowicz commented on #612
So we infer proxy settings either from inliner.proxy.hostname or HTTP_PROXY environment variable now.

[2015-08-16 14:56] #645 closed

[2015-08-16 15:37] #618 closed

[2015-08-16 15:56] #635 closed

[2015-08-16 15:57] jakubpawlowicz commented on #635
Fixed on master, you can still use `﻿properties.zeroUnits` compatibility switch in 3.3, see: https://github.com/jakubpawlowicz/clean-css#how-to-set-compatibility-mode

[2015-08-16 19:03] H1D commented on #635
:+1:

[2015-08-16 19:12] JoshuaWise opened #649 "Clarification about some options"
I can't find any details about what are the specific operations done in "advanced" mode.
Can this be explained in details? I want to know if it's safe to do this with my CSS.

Also, what is "restructuring" and "aggressiveMerging"?

Can I see examples about what these operations actually do?

[2015-08-17 05:58] jakubpawlowicz commented on #649
There's no manual for it but as they say, "use the force, read the source" :-) So here we go:

All advanced operations are dispatched here: https://github.com/jakubpawlowicz/clean-css/blob/master/lib/selectors/advanced.js#L59

* `recursivelyOptimizeBlocks` calls all following operations on a block (think `@media` or `@keyframe` rules)
* `recursivelyOptimizeProperties` optimizes properties in selec

[2015-08-17 06:04] jakubpawlowicz commented on #646
Well, as far as I can see it leads to the same styling (the space is optional in IE10+, Firefox, Chrome, and Safari): http://codepen.io/anon/pen/bdywNe

You may be using an older version of clean-css as in the newest ones this feature is disabled by default.

[2015-08-17 06:04] #646 closed

[2015-08-17 06:06] jakubpawlowicz commented on #636
I'll close this as a duplicate for now. #290 will be the sole point addressed in the version after 3.4.0.

[2015-08-17 06:06] #636 closed

[2015-08-17 06:38] #607 closed

[2015-08-17 06:38] jakubpawlowicz commented on #607
@widoz please open a separate issue if needed

[2015-08-18 06:54] yisibl opened #650 "-webkit-image-set() error"
input:

[code]

output:
[code]

This is a very serious problem, and the result is completely wrong.

[2015-08-18 06:57] jakubpawlowicz commented on #650
Duplicate of #618, already fixed on master.

[2015-08-18 06:57] #650 closed

[2015-08-18 07:01] yisibl commented on #650
Thank you very much, I hope to release as soon as possible.

[2015-08-18 07:03] jakubpawlowicz commented on #650
3.4 should be out this week, in the meantime you have to skip advanced processing.

[2015-08-18 08:12] yisibl opened #651 "Support multiple values merge"
input:

[code]

output:
[code]

[2015-08-19 02:25] chemoish commented on #209
+1

[2015-08-19 06:40] jakubpawlowicz commented on #632
I found out the reason you see URLs changed from `//fonts.gstatic...` into `http://fonts.gstatic...` is due to Google rewriting them on the fly, e.g. `curl "http://fonts.googleapis.com/css?family=Lato:400,700,400italic"`

I added two features you suggested on a branch https://github.com/jakubpawlowicz/clean-css/tree/632-remote-import which will likely make to master. The syntax is as follows:

API

[2015-08-19 07:01] jakubpawlowicz commented on #615
I have retested it in the latest 3.3 and master (pre 3.4) and it works fine now.

Advanced on:
[code]

Advanced off:
[code]

Sorry you had to wait a bit.

[2015-08-19 07:01] #615 closed

[2015-08-19 16:47] jakubpawlowicz commented on #651
So far merging border property shorthands is not implemented. You would need to go with `--skip-advanced` until #290 is implemented in the next release.

[2015-08-19 16:47] jakubpawlowicz commented on #651
Closing as duplicate.

[2015-08-19 16:47] #651 closed

[2015-08-19 16:48] jakubpawlowicz commented on #540
It waits for #290 to be implemented in 3.5. Closing as duplicate.

[2015-08-19 16:48] #540 closed

[2015-08-19 18:41] Minopolis commented on #646
Oh snap, you're right. Sorry about that.

[2015-08-20 05:44] jakubpawlowicz commented on #646
No worries :)

[2015-08-20 06:51] #649 closed

[2015-08-20 06:53] jakubpawlowicz commented on #649
I reworded my post and added it to readme: https://github.com/jakubpawlowicz/clean-css#what-advanced-optimizations-are-applied

[2015-08-21 07:42] xiulunlin commented on #648
@jakubpawlowicz
It seems this problem is not fixed when I download `3.4.0-pre`.
Also please support theme name in polymer's `:host` with a double-hyphen prefix. like:
[code]

[2015-08-21 08:07] jakubpawlowicz commented on #648
@xiulunlin Thanks for testing. I'll give it another look. Could you please point me to a relevant Polymer CSS documentation re :host thing?

[2015-08-21 08:13] #596 closed

[2015-08-21 08:25] xiulunlin commented on #648
Here is [polymer css minxins](https://www.polymer-project.org/1.0/docs/devguide/styling.html#custom-css-mixins).
Notice that the value of a `--live-head-theme` attribute could be a string `10px` or a block `{height:10px;}`.
And I find that in new version
`a{@apply(--live-head-theme)}`
works well but if a space is inserted it fails.
`a{ @apply(--live-head-theme)}`

[2015-08-21 09:04] jakubpawlowicz commented on #648
:+1: thanks @xiulunlin - I'll make sure these mixins are supported in 3.4. Hopefully we won't need any special options.

[2015-08-21 15:19] LoicMahieu commented on #632
Thanks for your work!

`processRemoteImport` will fix the issue! But I was thinking that it can be expand to all `@import` processing. It makes sense to skip import, regardless it is remote or not.
We can reuse the option `processImport` and use it as an array like `processRemoteImport`. An array is truely and so it will maybe not involve lot of modification.
Anyway `processRemoteImport: false` ma

[2015-08-21 16:51] jakubpawlowicz commented on #632
I think you have a fair point. How about adding some special keywords, like `!local` or `!remote`?

[2015-08-23 22:31] coreylenertz commented on #648
+1

[2015-08-24 05:52] jakubpawlowicz commented on #648
Ok, this should be done now! See 21a9399ca86a5cac4eb6c1e8ce083e27aab0b107

[2015-08-24 05:52] #648 closed

[2015-08-24 07:15] jakubpawlowicz commented on #632
@LoicMahieu what's more, we'd need to go with an extra option, e.g. `--skip-import-from` / `processImportFrom: ...` as we can't overload CLI's `--skip-import` without a major version bump, something I am reluctant to do. This is a commander.js limitation which does not allow list arguments to be optional.

I would keep `processImport` as is and add an extra one now, and unify these two in the next

[2015-08-24 09:38] LeJared commented on #629
Background-Optimization is still broken in v3.3.9

Example
[code]
gets optimized to
[code]

expected result
[code]
Again, it only happens, if ```--source-map``` option is set.

[2015-08-24 17:06] jakubpawlowicz commented on #629
I'll take a look at it tomorrow morning. I think we need more source map tests too.

[2015-08-24 17:20] psxlover commented on #648
I was just about to open an issue about paper-spinner not working because @apply was removed.
Guess I was too late. Thanks for fixing it.

[2015-08-25 07:02] #632 closed

[2015-08-25 07:03] jakubpawlowicz commented on #632
I have just merged this change to master. The API is as you suggested with the exception of `processImportFrom` vs `processImport` option.

[2015-08-27 07:27] jakubpawlowicz commented on #648
It's just been released with clean-css 3.4. :fireworks:

[2015-08-27 07:27] jakubpawlowicz commented on #645
It's just been released with clean-css 3.4. :fireworks:

[2015-08-27 07:28] jakubpawlowicz commented on #635
It's just been released with clean-css 3.4. :fireworks: Thanks for valuable input!

[2015-08-27 07:28] jakubpawlowicz commented on #632
It's just been released with clean-css 3.4. :fireworks:

Thanks @LoicMahieu for all valuable input!

[2015-08-27 07:28] jakubpawlowicz commented on #612
It's just been released with clean-css 3.4. :fireworks:

[2015-08-27 07:29] jakubpawlowicz commented on #596
It's just been released with clean-css 3.4. :fireworks:

[2015-08-27 07:52] jakubpawlowicz commented on #629
It's fixed in 3.3.10 & 3.4.0. Additionally we now run all batch tests with source maps on, and couple additional sourcemap-only issues were already spotted & fixed. See https://github.com/jakubpawlowicz/clean-css/compare/6d3d2e9bfb8bf6cfa2791f65247c58886a66c6ab...2ac0287cd53a910f8df30e8ec4b5d06e3da51c30

[2015-08-27 07:52] #629 closed

[2015-08-27 08:01] haf commented on #596
:+1: thank you!

[2015-08-27 11:18] artyfarty opened #652 "clean-css Cannot read property '0' of undefined"
Our builds are suddenly broken (as gulp-cssmin updated internal `clean-css@3.3.9` -> `clean-css@3.4.0`)

[code]

I still have no idea what in the stream causes this problem.

[2015-08-27 11:38] jakubpawlowicz commented on #652
No idea as well as all tests are green.

[2015-08-27 11:38] michael-zucchetta commented on #652
I was coming here to post the very same thing.

I am not able to run `gulp-minify-css` after it uploaded `clean-css` to version `3.4.0`. I have the exact trace

[2015-08-27 12:34] firegnom commented on #652
not 100% sure but i think it is failing on :

[code]

value of current is undefined ,

value of property is :
[code]

you can see that  all has only one object inside and the position of current property is 1 and it should be 0
it looks that after running ie hack for line ``` *cursor: hand;``` this line is removed from properties after that  the properties should be reindexed

[2015-08-27 13:08] jakubpawlowicz commented on #652
It could be it. Let's give it a try.

[2015-08-27 13:18] jakubpawlowicz commented on #652
Can someone try the latest version on 3.4 branch?

This reason of this bug is quite stupid, as we were doing operations in the wrong order...

[2015-08-27 13:42] sjparkinson commented on #652
Seems to have worked for us (using `"clean-css": "git+https://github.com/jakubpawlowicz/clean-css.git#3.4"`):

![screen shot 2015-08-27 at 2 41 52 pm](https://cloud.githubusercontent.com/assets/51677/9521962/cb1dfede-4cc9-11e5-9afb-8a01c50c4508.png)

vs. without:

![screen shot 2015-08-27 at 2 41 59 pm](https://cloud.githubusercontent.com/assets/51677/9521960/c78bf1d6-4cc9-11e5-82b5-40a8b815c8cc.p

[2015-08-27 14:08] artyfarty commented on #652
Do you have a test for another old hack — `_property:`?

[2015-08-27 14:18] jakubpawlowicz commented on #652
@sjparkinson thanks, will push 3.4.1 soon
@artyfarty if you mean this particular case, there's no, but in general there are quite a few for underscore hack - https://github.com/jakubpawlowicz/clean-css/blob/master/test/selectors/simple-test.js#L379 and more for advanced optimizations

[2015-08-27 15:43] #652 closed

[2015-08-27 15:44] jakubpawlowicz commented on #652
Released as 3.4.1 - thanks for all the help @artyfarty @sjparkinson @firegnom @michael-zucchetta !

[2015-08-28 10:38] PepijnSenders opened #653 "Getting weird behavior on legacy css files"
This part of code will break with the following version of `"clean-css": "3.4.0"`

[code]

After doing some logging myself I found out it was being thrown in the `lib/properties/restore-from-optimizing.js` file on line `53`.

Adding some `console.log's` to that part of the code let me find out that whenever `\9` occured in the code. The property `position` of the `property` object, was one too man

[2015-08-28 10:44] PepijnSenders commented on #653
This apparently was fixed in `3.4.1`.

[2015-08-28 10:44] #653 closed

[2015-08-28 10:52] jakubpawlowicz commented on #653
Yup, sorry about that. Hopefully not so many people will run into it as 3.4.1 fix was posted just couple hours after 3.4.0.

[2015-08-28 11:02] artyfarty commented on #652
All good now, thanks!

I'll use `npm shrinkwrap` from now on though...

[2015-08-28 12:34] jakubpawlowicz commented on #652
Always a good idea :+1:

[2015-08-28 14:31] glat commented on #592
+1

[2015-08-31 08:38] LoicMahieu commented on #632
Awesome ! Thanks @jakubpawlowicz

[2015-08-31 20:33] kfitzgerald opened #654 "Pixel (px) height getting converted to points (pt)"
Greetings!

I just updated the dependencies for one of [my projects](https://github.com/okanjo/okanjo-js) and ran into this issue. I've got a pixel height in a pseudo-selector and it's getting converted into points.

Here's a snippet of the affected css prior to minification:
[code]

And here's the snippet after:
[code]

My expected result is:
[code]

IMHO, pixels and points are two completely dif

[2015-08-31 21:54] jakubpawlowicz commented on #654
Do you experience any layout issues because of this change? According to MDN 4px is always 3pt: see https://developer.mozilla.org/en-US/docs/Web/CSS/length under "CSS units and dots-per-inch".

[2015-09-01 07:02] westyby commented on #654
Agree with **kfitzgerald**. Seems more like a bug. Maybe, this feature by default should be turned off, but turned on in the options. It is also worth to do with *pc*
[code]
[code]

[2015-09-01 07:10] westyby commented on #654
however, it works in IE8, IE9, Windows Phone 8 IE10, Microsoft Edge, and other normal browsers.

[2015-09-01 08:34] jakubpawlowicz commented on #654
It should be compatible with IE7+ and all other engines so unless there are any specific issues I am going to leave it on by default.

[2015-09-01 08:45] uikid commented on #654
How can I disable this?

[2015-09-01 08:55] rjgotten commented on #654
Compatibility with JavaScript that reads the current style of a node and works off of the (*very* sensible) expectation that particular sizes written in the uncompressed CSS files as pixels will *remain* as pixels and will be *read* as pixels.

Flipping units like this can lead to very, *very* hard to catch layout bugs...

[2015-09-01 09:00] uikid commented on #654
@rjgotten this is exactly what I am dealing with right now.

It broke everything. This is the most useless optimization that is nowhere documented (or shown how to disable this). Com'on, because of these few chars recalculate units?

Turn that off by default, this conversion is will also be hated by many other developers, I guarantee it! There are websites that rely on a given unit, print versions

[2015-09-01 10:30] koenpunt opened #655 "Bugreport: propery merge fails when using multiple properties with multiple values"
My css
[code]

Which results in:

[code]

Reformatted:

[code]

When I remove the first `background` property, the minified result is correct, so somewhere in the merging of tags this problem arises.

For now I disabled the `advanced` setting.

[2015-09-01 13:04] kfitzgerald commented on #654
@jakubpawlowicz Thanks for the prompt reply!

While the pixel-physical unit relationship MDN notes from the W3 CSS2 spec is valid, the CSS2 specification (http://www.w3.org/TR/CSS2/syndata.html#length-units) goes into more detail, specifically:

So to summarize, I don't mind if my units get converted to a more optimal format. However, I do mind if my specified units get converted from physical uni

[2015-09-01 14:39] westyby commented on #654
while you can be fixed so
[code]

[2015-09-01 14:47] uikid commented on #654
@westyby does this disable/remove all the listed units? If yes, that's no solution, I use multiple units in my css.

I switched my package to get the job done. Good luck with the owner here!

[2015-09-01 14:56] westyby commented on #654
**uikid**, No, it disables automatic translation units during the processing plugin. All these units you can still use CSS, they will remain
before
[code]
after
[code]

[2015-09-01 20:33] chernetsov0 opened #657 "Unhelpful error message on invalid CSS syntax"
For example for following invalid syntax:

[code]

You'll receive:

[code]

which is as unhelpful as error could get. Probably syntax parser should at least indicate that it is a syntax error and file name + line number? Type of error is secondary really and could be added incrementally.

[2015-09-02 03:42] jsguy commented on #593
Hi @jakubpawlowicz,

Any updates on this?

[2015-09-02 06:27] jakubpawlowicz commented on #593
I have had no time to work on this yet but I may have in the coming weeks.

[2015-09-02 06:40] jakubpawlowicz commented on #657
CSS does not have a well defined property syntax, so basically you can pass anything and whatever browsers do not understand will be dropped. clean-css does not aim to cover all these cases on parsing level.

In this case it simply tries to extract property name without a prefix and fails. This is something that should be fixed.

[2015-09-02 08:58] jakubpawlowicz commented on #654
@kfitzgerald thanks for digging into the w3c spec. I agree we should not blur the lines and provide a nice set of options to control this behavior - I can think of deriving optimization rules from an output medium (screen, print, etc) which could be the first step of setting up css minification. So far clean-css targets mostly browsers but you can still customize quite for other use cases.

@westy

[2015-09-02 10:38] rjgotten commented on #654
Nonsense.

Merging long-hand properties into a short-hand property or removing duplicated properties are examples of optimizations that are safe. Those type of changes will not be reflected in `getComputedStyle()` and will not leak any further into the runtime environment than the CSSOM itself.

In contrast, changing the unit of a property value is a prime example of an operation that is *unsafe*

[2015-09-03 23:08] eirikurn opened #658 "Inline SVGs break as quotes are removed."
**What's your input CSS and expected output?**
[code]

That's the input. The output should be the same. Currently quotes are removed, which breaks rendering in latest Chrome.

**Do you use clean-css directly or through any of the plugins?**

Both replicated through gulp and directly.

** What options do you pass to clean-css / the plugin?**

No options, but I have tried to disable rebase and enabl

[2015-09-03 23:12] eirikurn commented on #658
After some more digging, the error seems to be an unencoded `)` symbol in the data-uri. The Sketch app adds the comment with this symbol and the data-uri was injected like this (with quotes) in LESS.

[2015-09-03 23:46] eirikurn commented on #658
To make this even more strange, the quotes are left in peace if I use gulp-cssmin instead of gulp-minify-css, both of which wrap clean-css 3.4.1. They seem to have different option handling somehow.

[2015-09-04 06:53] jakubpawlowicz commented on #658
Is it possible plugins use a different clean-css version? It looks like #633 duplicate. Please reopen if it's not.

[2015-09-04 06:53] #658 closed

[2015-09-04 06:55] jakubpawlowicz commented on #655
There's certainly something wrong about it. I will take a closer look soon.

[2015-09-04 07:17] JoshuaWise commented on #649
@jakubpawlowicz This is great, thanks!

[2015-09-04 07:28] jakubpawlowicz commented on #654
Please correct me if I'm wrong but `getComputedStyle` cares about converting units back to pixels, see http://jsfiddle.net/9rj3sf88/

And it all depends on a *context*. Are clean-css transformations safe for IE7+ context? Nope, you have an option for that. Can you merge in a longhand `margin-top: -moz-calc(...)` into a `margin` shorthand? Nope, unless you know a *context* - let's say Firefox-only

[2015-09-04 07:55] JoshuaWise commented on #649
Are all of these advanced optimizations 100% safe?
Are they safe if you have external CSS that's not compiled by CleanCSS?
If not, are any of them specifically more or less safe than the others? I'd be interested in learning about any nuances here.

[2015-09-04 12:25] Xarksass opened #659 "quotes in @font-face"
Hello,
i would like to keep quote in my @font-face request.

[code]

no matter what i do it always output :
[code]
and the problem is that the font isn't loaded that way.

I'm using less-plugin-clean-css to compile and minify my less and i thought it was the plugin who skip the quotes. But i tried to minify a non-minified and compiled version of the css file directly in command line with clean-css

[2015-09-05 15:58] ngyikp opened #660 "Regression: !important isn't being handled properly"
[code]

[code]

[2015-09-06 22:03] OnkelTem opened #661 ""rebase"`s wrong parent directory optimization"
When "rebase" in ON (default), then

[code]

is converted to:

[code]

[2015-09-06 22:54] pepelsbey commented on #654
Please record my vote for making this optimization optional i.e. **not enabled** by default. Such experiments should be backed up by a set of wide tests in many browsers, not by _“there’s an article on MDN stating that it’s safe”_ reply days after the release.

[2015-09-07 04:33] hansemannn commented on #659
Having the issue, too. Fonts with a "-"-sign inside quotes are not minified correctly and cause css errors, because the quotes are being removed. A fix on this would be great!

[2015-09-07 05:57] jakubpawlowicz opened #662 "The first !important gets dropped"
[code]

See #660.

[2015-09-07 05:58] jakubpawlowicz commented on #660
Good catch @ngyikp :+1: - fixes are coming.

[2015-09-07 06:01] jakubpawlowicz commented on #661
I would need more details, like what's the `root` option (if any), whether you use CLI or API, clean-css directly or a plugin. See https://github.com/jakubpawlowicz/clean-css/blob/master/CONTRIBUTING.md

[2015-09-07 06:29] jakubpawlowicz commented on #659
Does it happen in any particular browser? I am not able to reproduce it...

[2015-09-07 07:39] Xarksass commented on #659
Ok, I've found the source of the problem: the theme I use have a space in his name and it's seems that the relative path doesn't work that way. So that was a problem of path and not of quotes ^^"

Sorry for the false alert and thanks for your quick reply :)

[2015-09-07 08:56] rjgotten commented on #654
As you wish.

DOM2 mentions that:

Where computed values are specified by CSS2 as:

The `pt` unit is, [according to *'CSS Values and Units Module Level 3'*](http://www.w3.org/TR/css3-values/#absolute-lengths), still defined as an absolute unit.

Browsers that convert absolute units to `px` via `getComputedStyle` are doing work that they should not actually be doing. This discrepancy between specif

[2015-09-07 10:27] kizu commented on #654
I'm also against enabling such option by default.

1. While that optimization is marked as safe, without through testing (especially with old browsers) it can't be considered as such.

2. Even minified code still can be tweaked in dev tools. Changing units makes it harder for developers, designers and managers to tweak values on the live site, by moving items here and there by several pixels/chang

[2015-09-07 14:07] xak2000 commented on #598
The problem is rule:
[code]

becomes:

[code]

Interesting things here is united rule for `border-color:#d4d4d4` and `border-right:1px solid;` rule.

In first case (before minification) browser interprets `border-right:1px solid;` as:
[code]

In second case (after minification) browser interprets `border-right:1px solid;` as:
[code]

I thing the problem is order of `border-*` rules.
In original `u

[2015-09-07 23:09] OnkelTem commented on #661
Sorry, you are right.

So I'm using ```gulp-minify-css``` 1.2.1 which uses ```clean-css``` 3.4.1.

I invoke it like:
[code]
That's all. If I don't set ```rebase``` to FALSE, then "../fonts" part is getting optimized to sheer nothing, i.e. - removed.

[2015-09-08 02:30] that1guy opened #663 "@-webkit-keyframes Not Supported"
````@-webkit-keyframes```` does not come to the output. cssmin discards it but this seems to be because css-min is using clean-css.

https://github.com/gruntjs/grunt-contrib-cssmin/issues/237

https://code.google.com/p/cssmin/issues/detail?id=26

[2015-09-08 12:16] jakubpawlowicz commented on #663
clean-css supports it - please check what version of clean-css you use (with `npm ls`) first.

Here's a test file:
https://github.com/jakubpawlowicz/clean-css/blob/d21f1e0808dfc1a658f745cad93e8b74466ffe73/test/fixtures/font-awesome.css#L242

and output:

https://github.com/jakubpawlowicz/clean-css/blob/d21f1e0808dfc1a658f745cad93e8b74466ffe73/test/fixtures/font-awesome-min.css#L59

It may be an ed

[2015-09-08 12:16] #663 closed

[2015-09-08 12:19] jakubpawlowicz commented on #661
Gulp plugin sets the `relativeTo` option for every optimizations if you don't set it by yourself, see https://github.com/murphydanger/gulp-minify-css/blob/master/index.js#L23

It could be related to your issue.

[2015-09-08 12:20] jakubpawlowicz commented on #659
No worries, glad you solved it!

@hansemannn should we keep this issue open?

[2015-09-08 13:51] OnkelTem commented on #661
Thank you, Jakub. I've made some tests, passing different values via ```root``` option, but yet it doesn't work. The only difference is that paths are resolved with leading slash if I use root: '<any absolute path or relative path>':

[code]

[2015-09-08 16:31] cz848 commented on #592
+1

[2015-09-09 06:48] jakubpawlowicz commented on #598
@xak2000 Please use the latest 3.3 or 3.4 as it's fixed there.

[2015-09-09 09:51] bcarbonn commented on #654
I'm also against enabling such option by default, please correct this asap...

[2015-09-09 10:16] ahmedelgabri commented on #654
+1 for not having this option enabled by default.

[2015-09-09 13:13] avromao commented on #654
+1

[2015-09-09 13:21] sylvainbaronnet commented on #654
+1

I was like *wtf happened to my css^^*

[2015-09-09 13:42] bgriffith commented on #654
+1

[2015-09-09 13:44] DanPurdy commented on #654
+1

Seems a little much.. Please disable this by default.

[2015-09-09 13:59] xak2000 commented on #598
I am using `"version": "3.4.1"`. Not fixed.

[2015-09-09 14:23] xak2000 commented on #598
You can download [ui-grid.css](https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.css) and run `cleancss ./ui-grid.css -b | grep .ui-grid-cell[,{]` and you see 4th and 5th lines.

[2015-09-10 04:19] smilingcheater commented on #654
+1 for disabling this by default

[2015-09-10 07:47] jakubpawlowicz commented on #598
This is the correct test case:

[code]

Fix is coming.

[2015-09-10 08:16] wezley98 opened #664 "border-radius causes 'Cannot read property '0' of undefined' when used with :after"
Test Case:

[code]

[2015-09-10 08:28] #664 closed

[2015-09-10 08:28] wezley98 commented on #664
test case works needs more investigation.

[2015-09-10 09:57] PeterRao commented on #654
+1 for disabling this by default

[2015-09-10 11:01] ruandre commented on #654
+1 for disabling this by default.

For one thing, it screws up HTML emails.

[2015-09-10 12:51] jakubpawlowicz commented on #654
@rjgotten that's an argument against `getComputedStyle` in general - if one day browsers change the implenatation according to 2.1 spec then we'll have a problem anyway

@kizu it was tested in IE7 up to 11 and Edge, old and new Firefox, Chrome, Safari, and Opera. Re 2 & 4 the same applies to other transformations, re 3 it's not implemented anyway

@ruandre does it happen in browsers or in email cl

[2015-09-10 13:07] kfitzgerald commented on #654
Hi @jakubpawlowicz !

I'm not sure that reverting the change is the best option. I feel like adjusting the existing functionality to keep apples-to-apples (pixels) and oranges-to-oranges (physical units) would be a better alternative, satisfying the vast majority of cases.

Thanks again,
-Kevin

[2015-09-10 13:13] jakubpawlowicz commented on #654
Thanks @kfitzgerald - yeah, that's what I meant.

[2015-09-10 13:20] kizu commented on #654
@jakubpawlowicz

Can you provide examples of those transformations?

For example, the first google result for “position sticky polyfill codepen” con't understand `pt` instead of `px` (it just treats them as `px`, haha). And there are _a lot_ of similar polyfills where authors forgot to tweak _print_ units, handling only `px`, `em` and `%`.

Right now clean-css would break such polyfilled code. Oth

[2015-09-10 15:20] knynkwl opened #665 "Stripping * in *:before"
Hey, just ran into this problem. when compressing my css file, it seems to strip * if it's in front of a sudo element.

`.some-element *:before` turns into `.some-element :before`

[2015-09-10 16:29] xak2000 commented on #598
Sorry. Didn't know that `.ui-grid-cell:last-child` affect this. Tried only with full file.
Thanks for fixing!

[2015-09-10 17:09] westyby commented on #665
It works in both cases. This is not a bug. Try http://jsfiddle.net/aowwvb7L/

[2015-09-10 20:35] viveleroi opened #666 "display: -ms-flexbox being removed despite compatibility mode"
node v0.12.7, Mac OS X
clean-css v3.4.1

We're using flexbox in IE10 which supports an older flex standard. However, it seems that `display: -ms-flexbox` is being stripped from our css, despite any of the possible settings for compatibility mode.

Our original CSS:

    display: -ms-flexbox;
    -ms-flex-flow: row;
    -ms-flex-wrap: wrap;

The final css (broken into newlines for this report)

[2015-09-10 23:46] ryami333 commented on #654
+1 for disabling this by default.
I just don't even understand why a minification plugin is going anywhere near my units.

[2015-09-11 09:05] Landen13 commented on #654
+1 for disabling this by default

[2015-09-11 10:24] HaNdTriX opened #667 "Breaks chrome-extension urls"
## Bug

It transforms `@@`

    url('chrome-extension://__MSG_@@extension_id__/someFile.png')

to `%40@`

     url(chrome-extension://__MSG_%40@extension_id__/someFile.png)

## Reproduce

Node-Version: `v0.12.7`
OS-Version: `OSX Yosemite 10.10.5 `
clean-css-Version: `v3.4.1`

**test.css**

    .mySelector {
      background-image: url('chrome-extension://__MSG_@@extension_id__/someFile.png');

[2015-09-11 12:05] ACastans commented on #654
+1 for disabling this by default.
I lost 1 day to understand what happend to my css output and trying to find a fix.
It's a nice feature but it shouldn't be a default one.
I think every developper should be free to decide what to a do with his unit css in his dev.
And it's not very easy to understand how to disable or enable it....

[2015-09-11 21:18] rjgotten commented on #654
As far as I understand, it's not even possible to disable the optimization cleanly; you have to disable parsing/using the target unit of the conversion (`pt` in this case) *entirely*. That's not an option switch; that's a *hack*.

[2015-09-12 10:44] davidhund commented on #638
I just noticed the same bug with `outline` shorthand:

`* { outline: 1px dotted rgb(255,0,0); }` → `*{outline:red dotted 1px}`
`* { outline: 1px dotted rgba(255,0,0,.5); }` → `*{outline:dotted rgba(255,0,0,.5)}`

…The 1px is dropped resulting in *initial* `outline-width` of ~3px :fire:

**However:** it's not a problem with `rgba()` alone because an opacity value of 1 works:

`* { outline: 1px dott

[2015-09-12 14:02] davidhund commented on #638
**PPS: It get's weirder**

I just discovered the universal star `*` selector plays a part, as does `:before` and `:after`
Using these together with `rgba()` (with opacity < 1) causes the bug that drops the `outline-width`.

:-1: `* { outline: 1px dotted rgba(0,0,0, .5); }`
:-1: `:before { outline: 1px dotted rgba(0,0,0, .5); }`
:-1: `:after { outline: 1px dotted rgba(0,0,0, .5); }`

…combine these

[2015-09-13 11:29] Leolik commented on #654
+1 for disabling this by default.

[2015-09-13 13:52] jakubpawlowicz commented on #649
Sorry for a bit of a lag with the reply.

I would call all but *restructuring* and *shorthand compacting* safe. Those two should be as well but there could be some edge cases, and question of safety also depends on the context, as if you target some old browsers or email clients you can expect those to break compatibility.

I am currently thinking about standardizing those "safety levels" in the n

[2015-09-13 15:03] Fana7ik commented on #654
+1 for disabling this by default.

[2015-09-13 15:46] joe-watkins commented on #654
+1 for disabling this by default.

[2015-09-13 16:48] jakubpawlowicz commented on #666
@viveleroi can you reopen it with a larger excerpt of your CSS file as I can't figure out the bug from what you've provided.

[2015-09-13 16:48] #666 closed

[2015-09-13 16:48] jakubpawlowicz commented on #598
@xak2000 no worries, fix is ready on 3.4 branch, to be released tomorrow

[2015-09-13 17:04] jakubpawlowicz commented on #667
Good catch - to be fixed in 3.4.2.

[2015-09-13 17:16] jakubpawlowicz commented on #638
@davidhund hmmm, that's odd as I can neither replicate it with 3.3.3 or 3.4.1, e.g.:

[code]

Am I doing it correctly?
It looks like a separate issue, so please open a new one.

[2015-09-13 17:19] jakubpawlowicz commented on #665
Thanks @westyby - the star is optional indeed. However @knynkwl if you found an edge case (likely related to a particular browser) then please reopen the issue.

[2015-09-13 17:19] #665 closed

[2015-09-13 22:13] HaNdTriX commented on #667
Thanks!

[2015-09-14 07:19] davidhund commented on #638
Weird. I get that too using either `cleancss` directly or using the `gulp-minify-css` version. Will look into it some more and open a separate bug.

[2015-09-14 12:15] #660 closed

[2015-09-14 12:15] #598 closed

[2015-09-14 12:15] #654 closed

[2015-09-14 12:15] #655 closed

[2015-09-14 12:15] #662 closed

[2015-09-14 12:15] #667 closed

[2015-09-14 12:16] jakubpawlowicz commented on #598
It's released as 3.4.2.

[2015-09-14 12:16] jakubpawlowicz commented on #598
Thanks for helping out with narrowing it down @ezraroi and @xak2000!

[2015-09-14 12:19] jakubpawlowicz commented on #654
It's released as 3.4.2 where length unit optimizations are disabled by default. Those can be brought back using `shorterLengthUnits` switch: https://github.com/jakubpawlowicz/clean-css/blob/master/test/selectors/simple-test.js#L833

Thanks everyone for all the comments and +1s. It made me realize it wasn't the best idea to turn it on by default.

[2015-09-14 12:20] jakubpawlowicz commented on #655
@koenpunt - it's fixed in 3.4.2 now. Thanks for reporting it.

[2015-09-14 12:21] jakubpawlowicz commented on #660
@ngyikp it's fixed in 3.4.2 now. Thanks for reporting both issues!

[2015-09-14 12:21] jakubpawlowicz commented on #667
@HaNdTriX it's fixed in 3.4.2 now. Thanks again!

[2015-09-14 12:41] jakubpawlowicz commented on #638
Cool, thanks!

[2015-09-14 15:12] shinnn opened #668 "v3.4.2 throws a TypeError when parsing "@import url(...)""
### Versions

[code]

### Script

./example.js

[code]

### Result

[code]

[2015-09-14 15:46] kfitzgerald commented on #654
Thanks @jakubpawlowicz ! Much appreciated.

[2015-09-14 16:17] viveleroi commented on #666
You'll need to re-open this issue (I don't have access and would prefer not creating a new one).

I've trimmed our css down and am able to reproduce this issue with these exact steps:

test.css:

    .columns {
      display: -ms-flexbox;
      -ms-flex-flow: row;
      -ms-flex-wrap: wrap;
      display: -webkit-flex;
      display: flex; }

Run `cleancss -o test.min.css test.css`

test.min.css:

[2015-09-14 17:13] chrisjstephens commented on #668
I got the same error.

[2015-09-14 20:16] rubikzube commented on #668
Moi aussi

[2015-09-15 02:24] yisibl commented on #654
There are a lot of radical compression should be disabled by default.

[2015-09-15 02:56] jeffwhelpley commented on #668
I get this error as well

[2015-09-15 05:16] jakubpawlowicz commented on #654
@yisibl Will deal with it in the next major release.

[2015-09-15 05:52] ngyikp opened #669 "Regression from 3.3.10: !important gets dropped if the property is duplicated in a selector"
Caught my silly authoring mistake when I upgraded from 3.3.10 to 3.4.2 and compared side-by-side:

[code]

[code]

There's no issue if the values are not the same, this does return ```margin:2px!important```
[code]

[2015-09-15 06:14] that1guy opened #670 "-webkit prefix missing after css minification"
All my `-webkit` prefixes are getting stripped during the minification process.  This causes all much of my application to behave badly on Safari & iOS device.  I've spent a lot of time trying to resolve this one, but I'm stumped.

Here's an example of my raw SASS

[code]

Here is the CSS that my compass SASS preprocessor produces
[code]

Here is what I see in browsers css styles inspector before

[2015-09-15 06:36] #668 closed

[2015-09-15 06:36] #669 closed

[2015-09-15 06:36] jakubpawlowicz commented on #669
Fixed in 3.4.3.

[2015-09-15 06:36] jakubpawlowicz commented on #668
Fixed in 3.4.3.

[2015-09-15 20:22] bassarisse opened #671 "Error during Uri rewrite in Node v4.0.0"
Hi!

I'm currently using Node v4.0.0 and the following error appears to me:
[code]

I fixed by changing the following on `lib/urls/rewrite.js` (line 42):
[code]

Is this the best way to resolve the issue?
It might be important to note that I'm using CleanCSS through gulp-minify-css.

Thanks!

[2015-09-15 20:23] bassarisse commented on #671
Sorry, just saw the coomit fixing this, thanks!

[2015-09-15 20:25] #671 closed

[2015-09-16 04:57] jakubpawlowicz commented on #671
No worries! :+1:

[2015-09-16 05:36] renatogcarvalho opened #672 "Minification process replacing absolute units with px"
Hello guys,

I'm running into an issue that started happening in one of your latest releases - not exactly sure what is the build number, please accept my apologies.

During the deployment of one of the applications at my workplace we noticed that "gulp-minify-css" (which basically a wrapper for "clean-css") is currently replacing absolute units (pc, pt, etc) with px.

Although this seems to be no

[2015-09-16 05:39] jakubpawlowicz commented on #672
It's a duplicate of #654 - fixed in version 3.4.2 and up. You could probably just delete gulp plugin from `node_modules` and rerun the build so it uses the latest clean-css.

[2015-09-16 05:39] #672 closed

[2015-09-16 05:43] renatogcarvalho commented on #672
Hello @jakubpawlowicz,

I actually looked at this issue earlier today and did exactly what you just described above.

However, for some reason it still didn't work as expected... I was wondering if the fix was also going to be applied the other way around, absolute units to px.

I'll give it another whirl once I get on my workplace tomorrow though.

Much appreciated.

Renato.

[2015-09-16 05:48] jakubpawlowicz commented on #672
All the units are kept unchanged now, so there's no absolute units -> px conversion.

If you have access to the server then `npm ls clean-css` will help you find out what version of clean-css you are using and where it's located.

Hope this helps.

[2015-09-16 05:57] renatogcarvalho commented on #672
Below you can find the output I'm currently getting:

renato@server:/path$ npm ls clean-css
project.com@1.0.0 /path
âââ¬ gulp-minify-css@1.2.1
  âââ clean-css@3.4.3

It looks like we're using the right version according to what you mentioned on your first reply (3.4.2+).

Any thoughts? Would you like me to send you an example of what the output looks like before and after we noticed the issue?

Re

[2015-09-16 06:17] jakubpawlowicz commented on #672
You certainly have the right version. I would make sure you serve the updated files, they are not cached on the server or in a browser in the first place.

[2015-09-16 09:11] rene-poulsen commented on #654
+1 for disabling it by default

[2015-09-16 09:58] jakubpawlowicz commented on #654
@rene-poulsen it's off in 3.4.2+.

[2015-09-16 13:19] zhoujianlin8 opened #673 "" change to '"
before
background-image:url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' .....")

after
background-image:url('data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' .....')

how to set no change

[2015-09-16 15:11] jakubpawlowicz commented on #673
Could you make sure you use the latest version of 3.2, 3.3, or 3.4? It surely works there.

[2015-09-16 15:11] #673 closed

[2015-09-16 16:12] yisibl commented on #654
@jsw0528 fix.

[2015-09-16 16:56] jakubpawlowicz commented on #666
So this is a duplicate of #290 - you need to use `--skip-aggressive-merging` switch for now.

[2015-09-16 17:22] viveleroi commented on #666
Ok, I will try that and will follow progress on #290. I'm using gulp-minify-css in the project which passes options to the clean-css constructor - I don't see anything referring to flags in the constructor - can I pass it that way or is only supported via cli?

[2015-09-16 17:22] viveleroi commented on #666
Nevermind I see `aggressiveMerging` as an option.

[2015-09-17 08:30] jibhaine commented on #670
I came here with the same issue but with -moz- prefixes removed.
Setting aggressiveMerging to false in the options resolved it.

[2015-09-17 15:59] jakubpawlowicz commented on #670
@jibhaine thanks for investigating it and helping @that1guy with a solution - it's a duplicate of #290 so I'll close this issue.

A side note - #290 is gonna be a focus (one of many) of the next clean-css version.

[2015-09-17 17:28] zslabs commented on #659
Believe I'm having a similar issue - an SVG that I'm converting to a `data-uri()` with Less is creating a non-closing `"` at the beginning of the src url. This was not happening in previous versions.

[2015-09-17 19:16] that1guy commented on #670
@jibhaine @jakubpawlowicz this is not resolving my issue.  I've passed in other cleanCSS params too to ensure they are getting passed in and I can confirm they are being passed in correctly.

[code]

[2015-09-18 05:34] jakubpawlowicz commented on #670
So reopening it. Could you please share a bigger excerpt from your CSS file in the first place and make sure you run the latest clean-css with `npm ls clean-css`?

[2015-09-18 05:36] jakubpawlowicz commented on #659
@zslabs please follow https://github.com/jakubpawlowicz/clean-css/blob/master/CONTRIBUTING.md and give as a bit more of a context

[2015-09-18 16:58] maciekpaprocki commented on #626
It's also happening on Mac. Had to remove import, from myfonts file to not brake build. It's not really edge case as most of the font selling websites force you to use @import to get counters of views.

[2015-09-19 10:04] jeremylevy opened #674 "Visibility and display properties merged together"
Hello,

Visibility and display properties seem to be merged together:

[code]

Thanks!

[2015-09-20 07:08] jakubpawlowicz commented on #674
It's a bug indeed. Fix is coming!

[2015-09-21 08:15] koenpunt commented on #655
Thanks! :+1:

[2015-09-21 08:36] #626 closed

[2015-09-21 08:36] #674 closed

[2015-09-21 08:37] jakubpawlowicz commented on #626
Fixed in 3.4.4.

[2015-09-21 08:38] jakubpawlowicz commented on #674
Fixed in 3.4.4.

[2015-09-21 16:10] that1guy commented on #670
Using clean-css version 3.3.6

Here is larger excerpt of main.css before minimization.
[code]

Here are the current grunt settings I'm using during minification
[code]

[code]

[2015-09-21 16:58] mr-beerkiss opened #675 "!important can cause merging to behave strangely"
If you have two selectors which define a property with the latter (in order of which it will appear in the source file) being marked as `!important` that property will be completely removed from the merge.

A simple input file with two selectors is enough (I say selectors but I've only tested with classes thus far).  I've included all the combinations I have tried and included their output.  I've

[2015-09-21 21:01] leggomuhgreggo opened #676 "data-uri issue quote issue"
Using clean-css through gulp-minify-css

Here are the specified settings:
`.pipe(minifyCSS({keepBreaks: false, processImport: false})); `

A use case like this:
`.icon::before{
  background-image: url(data:image/png;base64,iVB...
}`
will compile to:
`.icon::before{
  background-image: url('data:image/png;base64,iVB...
}`

where a leading quote is added, without a trailing one. Causes render failur

[2015-09-22 07:06] jakubpawlowicz commented on #676
Could you please provide more info, see https://github.com/jakubpawlowicz/clean-css/blob/master/CONTRIBUTING.md

[2015-09-22 11:31] stuht opened #678 "Always quote data url during in rewrite.js"
Using clean-css through gulp-minify-css

During rewrite, quotes are stripped from the data url, which is then ignored by IE 9.

Created pull request https://github.com/jakubpawlowicz/clean-css/pull/677 for a possible fix.

[2015-09-22 13:19] leggomuhgreggo commented on #676
Hey @jakubpawlowicz, I'd reviewed the contributing.md before posting--looks like I missed the version of the plugin. It's the gulp-css-minify version 1.2.1. I realize that it's a different plugin, and I'm not sure how that correlates to clean-css releases. Let me know if this issue would be better suited on the gulp-css-minify repo or if there's anything else I can do to help clarify. Thanks!

[2015-09-22 15:23] bassarisse opened #679 "Prevent remote URL rebase"
Hi!

Is there a way to prevent remote URL from being rebased? I can't figure that out on the docs.
I'm not referring to @ imports (the `processImportFrom` option would be enough), but normal resource definition (for images, etc.).

Prevent this:
[code]

From turning something like this:
[code]

Maybe I'm missing some information here...

Thanks!

[2015-09-22 15:34] bassarisse commented on #679
Bringing some more information about my problem.

I have a remote stylesheet @ imported (and I intent to include the content of this stylesheet), and it contains remote resource definitions. These resources get rebased. How can I prevent that?

[2015-09-22 19:26] esbenp opened #680 "Removes used classes"
Hi.
I do not really now the library, I just use it through gulp-minify-css to minify my css. However, since last night some of my css classes has been removed.

I think a common denominator is that they are small helper classes like `.pull-left { float: left }` and `.text-center { text-align: center }`. It was not duplicates that were removed, these classes were entirely removed unless I used the

[2015-09-22 19:46] oliversalzburg commented on #680
I'm experiencing the same issue

[2015-09-22 20:17] oliversalzburg commented on #680
Probably related to https://github.com/jakubpawlowicz/clean-css/issues/675

[2015-09-22 21:12] oliversalzburg commented on #680
Interestingly, when I used `{ advanced : false }` the problem went away on Windows, but was still present on our Debian systems.

[2015-09-23 08:51] mr-beerkiss commented on #675
Update: running the with `--skip-advanced` option will solve the issue.  This may appear obvious but it was noted separately in #680 so I thought it best to be verbose.

[2015-09-23 10:52] jsw0528 commented on #654
Cooooooooooooooooooooooooool~

[2015-09-23 16:39] jakubpawlowicz commented on #679
is it any similar to https://github.com/jakubpawlowicz/clean-css/blob/master/test/protocol-imports-test.js#L181? What version of clean-css are you running?

[2015-09-23 16:40] jakubpawlowicz commented on #680
Will investigate and issue a fix.

[2015-09-23 18:39] oliversalzburg commented on #680
Regarding my previous comment, it could also be a Node version issue. I used 4.1 on my Windows machine, 0.10 on the Debian system.

[2015-09-23 20:26] that1guy commented on #670
@jakubpawlowicz, and ideas here?  I'm stumped an in a bit of a holding pattern.

[2015-09-24 10:36] mokkabonna commented on #680
Same for me, I am using grunt-contrib-cssmin. Downgrading to cssmin 3.4.3 works as expected. https://github.com/jakubpawlowicz/clean-css/compare/v3.4.3...v3.4.4

In my case I have font awesome  defining a class `.pull-left{float:left}` and bootstrap defining a similar class `.pull-left{float:left !important}` but both get removed.

[2015-09-24 11:17] oliversalzburg commented on #680
It's the same case for me. FontAwesome + Bootstrap

[2015-09-24 21:41] markstickley opened #681 "Restructuring option can mess up style ordering (and therefore how it is interpreted)"
Minify this with restructuring on:

[code]

And it sticks the `font-family` directives for `h1, section h1` right at the top -- before the rules for the reset styles are applied, cancelling out the custom font settings.

I'm not convinced this is desirable behaviour! Perhaps it should insert restructured code where the directive first appears; so in this case where the h1 selector was originally?

[2015-09-25 02:25] pocesar commented on #680
FontAwesome + Bootstrap for me as well. Was freaking out why the production website was borked

[2015-09-25 10:08] jacksleight commented on #681
Just run in to this issue, can't see why the restructuring behaviour would ever be desirable, it can introduce all sorts of unexpected styling. It should be disabled by default at least.

If you're using gulp-minify-css this is how you turn it off:

[code]

[2015-09-26 02:14] rsands2801 commented on #680
Same issue...

[2015-09-27 10:43] jakubpawlowicz commented on #676
@leggomuhgreggo sorry for a bit of a lag. You can identify clean-css version with `npm ls clean-css` and that would definitely help.

[2015-09-27 11:12] jakubpawlowicz commented on #675
Thanks for reporting this @mr-beerkiss. I'll push the fix tomorrow.

[2015-09-27 11:27] jakubpawlowicz commented on #681
Looking into it.

[2015-09-28 09:47] #675 closed

[2015-09-28 09:47] #681 closed

[2015-09-28 09:47] jakubpawlowicz commented on #681
Fixed in 3.4.5. Thanks for bringing that up!

[2015-09-28 09:47] jakubpawlowicz commented on #675
Fixed in 3.4.5.

[2015-09-28 10:32] JeroenVanOort commented on #679
I seem to have a similar problem:

We have an CSS file like this:

[code]

But the rebase seems to go wrong as the output is `url(../../fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf)`. I do know it has worked with version 3.4.1. Now running 3.4.4.

Is this the desired functionality?

[2015-09-28 12:00] laurent-le-graverend commented on #654
+1 thanks for disabling it, it gave me headaches to understand why a very specific case got broken in Safari due to the px to picas conversion.

[2015-09-29 20:39] scottgonzalez commented on #569
Yes. Though npm is starting to replace Bower even for client assets. This should probably be closed.

[2015-09-30 02:25] that1guy commented on #670
Hi @jakubpawlowicz.  Checking in again to see if we can get some feedback here.  Thanks!

[2015-09-30 06:38] jakubpawlowicz commented on #569
Let's close it then.

[2015-09-30 06:38] #569 closed

[2015-09-30 06:39] jakubpawlowicz commented on #680
#675 is closed now so this should be fixed too. Please let me know if otherwise.

[2015-09-30 06:39] #680 closed

[2015-09-30 08:30] oliversalzburg commented on #680
A quick test seems to confirm that it's fixed for us. Thanks for taking care of this @jakubpawlowicz ! :+1:

[2015-09-30 08:38] jakubpawlowicz commented on #680
Cool, thanks for confirming!

[2015-10-01 00:59] CrashyBang commented on #679
:+1:

[2015-10-01 05:42] aiboy commented on #679
Did you tried "--skip-rebase" flag ? It's not a perfect solution but may help for now.

[2015-10-01 20:15] ginovva320 commented on #679
Setting rebase to false when using the API resolves the issue for me, but is obviously less than ideal.

[2015-10-02 00:00] bassarisse commented on #679
I'm using the last stable version, 3.4.5.

The option `--skip-rebase` disables all rebasing, AFAIK. I just needed to disable remote url rebasing. Does it makes sense?

I think options like `--skip-rebase-from [rules]` and `rebaseFrom` (that worked like the ones to selectively process `@imports`), would be a good fit.

[2015-10-03 17:45] ngyikp opened #685 "Suggestion: Lowercase hex colors for more potential gzip savings"
Currently, this won't be merged into a single selector, I suggest there could be a further optimization to lowercase hex colors only if it's safe to do so.

[code]

[2015-10-05 19:56] ajmueller commented on #607
@aarr0n did you get this working?  I'm still having this issue with gulp-minify-css and its version of clean-css it's using is 3.4.5.

@jakubpawlowicz when you say to make sure "your media rules are actually mergeable," are there any specifics we need to look out for besides the obvious (e.g. their syntax is all the same)?  For instance, can we specify media type (e.g. `only screen`) or use ems in

[2015-10-05 22:30] jakubpawlowicz commented on #607
@ajmueller in this case mergeable means there are no rules in between that prevent merging. In the example you gave the first media should be removed but I guess that's not the case, am I right?

[2015-10-06 03:15] ajmueller commented on #607
@jakubpawlowicz that's correct.

[2015-10-06 14:57] maranomynet opened #686 "Add optional rounding for more than just `px` values"
When using Stylus to calculate lots of `em`, `rem`and `%` values one ends up with **tons** of ridiculously precise (15 digit decimal fractions) numbers.

Clean-css should also allow me to cap the precision of these values – independently of the `--rounding--precision` option which only applies to `px` values.

[2015-10-06 16:51] jakubpawlowicz opened #687 "Improve media merging"
See https://github.com/jakubpawlowicz/clean-css/issues/607#issuecomment-145650346 /cc @ajmueller

[code]

[2015-10-06 16:52] jakubpawlowicz commented on #607
^ I've opened a new issue which will address in the next minor version

[2015-10-07 02:35] ajmueller commented on #607
Awesome, thanks!

[2015-10-07 05:08] jakubpawlowicz commented on #685
Sure, let's do that :+1:

[2015-10-07 05:12] jakubpawlowicz commented on #686
Sure, that can be easily done :+1:  Can you think of a sensible default precision for each of those units?

[2015-10-07 05:23] jakubpawlowicz commented on #679
@bassarisse @JeroenVanOort could you please share a short CSS snippet which replicates this bug? I'm struggling with replicating this issue.

[2015-10-07 06:49] jakubpawlowicz commented on #670
@that1guy sorry for a delay - I'll give it a look today.

[2015-10-07 16:40] jakubpawlowicz commented on #670
@that1guy I've retested it again using both CLI and API and it certainly works fine for me.

Is there any chance autoprefixer strips those?

[2015-10-07 20:16] that1guy commented on #670
From my tests that's not the issue.  To explain, here is my grunt build-staging task with cssmin commented out.

[code]

Here are the autoprefixer settings (the same across all environments).
[code]

and after autoprefixer runs I see correct css.
[code]

Only when I enable cssmin in my grunt build-staging do I see.

[code]

[2015-10-07 20:18] that1guy commented on #670
Ugh, you nailed it, this issue caused because autoprefixer was outputting file to separate directory than useminprepare was telling cssmin to look.

[2015-10-07 20:18] #670 closed

[2015-10-08 05:52] jakubpawlowicz commented on #670
No worries, glad you solved it :+1:

[2015-10-09 06:22] kouki-o commented on #679
@jakubpawlowicz

## 3.4.5(current version)

* install clean-css

[code]

* write test.css
[code]

* execute command
[code]

* Output
[code]

* ```url(../../fonts.gstatic.com/...```　strange

## 3.4.1

* install clean-css@4.3.1
[code]

* run the above described procedure. (write test.css/execute command)

* Output
[code]

* ```url(https://fonts.gstatic.com/s/...``` is fine.

[2015-10-09 06:25] kouki-o commented on #679
Changes from 3.4.1 to 3.4.5
* https://github.com/jakubpawlowicz/clean-css/compare/20f029a...ebe5754?diff=unified&name=ebe5754

I think to do around here is suspicious. (unconfident)
* https://github.com/jakubpawlowicz/clean-css/issues/667

[2015-10-09 11:41] sprat opened #688 "Source map paths issues"
I have a main css file which have a bunch of `@import` rules and I use this command to compile my css file:

[code]

However, in the source map file, the paths in the "sources" list are wrong: they start with "css/" instead of "../css/".

I think the source map paths should take into account the path to the output file.

[2015-10-09 12:25] felixzapata opened #689 "Error trying to parse Polymer styles"
Hi, I've seen the issue #648 related with the `Polymer apply mixins` but I still have errors when trying to reduce the size of the vulcanized file.

I'm trying to reduce the size applying first `gulp-html-minify` and then `gulp-minifi-inline` (this task uses clean-css version 3.4.5). When I do this, my console throws errors in the `wrap-for-optimizing.js` file.

The first error is in the function

[2015-10-09 18:28] sprat commented on #688
Note that, as a workaround, it works when I force the root path, but I get many "Both 'root' and output file given so rebasing URLs as absolute paths" warnings obviously...
[code]

[2015-10-11 07:27] jakubpawlowicz commented on #689
@felixzapata could you please share some CSS sources as described in https://github.com/jakubpawlowicz/clean-css/blob/master/CONTRIBUTING.md - ideally what goes into clean-css after all previous gulp plugins ran?

[2015-10-11 09:34] felixzapata commented on #689
hi, i am trying to isolate some of the css to do a test because the result vulcanized file is big due to the project itself. That is the reason my first attempt was to make some fixes directly over the task to check the process.

Regards.

[2015-10-12 06:40] jakubpawlowicz commented on #689
Thanks @felixzapata - if you can't share it publicly feel free to email it to me (see package.json).

[2015-10-12 07:05] jakubpawlowicz commented on #679
I can see it now. Fix is coming soon!

[2015-10-12 09:18] felixzapata commented on #689
hi @jakubpawlowicz , after (a "little" investigation and) extract all the styles of my vulcanized file and create separate files (more than 30), I've discovered the problem who is throwing the error.

For example, this css file will throw an error (in my last tests, I've used gulp-css-minify that is a wrap for clean-css):

``
:root {
  --separator: {
    border-top: 1px solid #e0e1e4;
    border-b

[2015-10-13 00:05] KaidenP opened #690 "[Feat Req.] Add a banner"
It would be nice to be able to add a banner via cli or api

[2015-10-13 07:00] jakubpawlowicz commented on #689
Thanks @felixzapata for more details! I think you are right about the error being raised - how come `--background:{red}` even shows up there?

[2015-10-13 07:33] felixzapata commented on #689
Sorry @jakubpawlowicz, your question is why are the brackets in the variable? I think that the person who have written the styles, unintentionally, put (or kept because started with some properties) the brackets in these cases.

[2015-10-13 08:20] jakubpawlowicz commented on #689
Does it mean it still works with the brackets? I have never seen those before.

[2015-10-13 08:25] felixzapata commented on #689
Yes it works (unintentionally). Our scenery is: the styles are written with SASS and we use them inside Polymer components.

[2015-10-13 08:28] jakubpawlowicz commented on #689
So as far as I understand those brackets are specific to Polymer component styling, right? Trying to get the context here. Are there any docs covering those?

[2015-10-13 08:47] felixzapata commented on #689
Well, if you use the brackets is because you are going to use it as a mixin with the  `@apply`. There was an [issue about that but is resolved](https://github.com/jakubpawlowicz/clean-css/issues/648).

By the other hand, you can read information about Polymer component styling [here](https://www.polymer-project.org/1.0/docs/devguide/styling.html). (find "Custom CSS properties" and "Custom CSS mixi

[2015-10-13 09:02] jakubpawlowicz commented on #689
Ok, stay tuned for updates. The reason it doesn't work is because I have never thought it was possible, and it does not work with normal (non-Polymer) variables.

[2015-10-14 11:23] felixzapata commented on #689
Maybe you have not to worry to much about that and only try to throw a message that informs about the format instead of the task is finished.

Really, the correct format with a single value is without brackets and only if you add more properties, the brackets are mandatory.